[2015-09-23 22:36] Neiko2002 opened #4 "UncheckedNativeBytes does not extend NativeBytes"
The UncheckedNativeBytes class does not extend the NativeBytes class making them not elastic. I was trying to get elastic unchecked Bytes with Bytes.allocateElasticDirect(capacity).unchecked(true), this way I would have good performance and still the ability to grow my buffer manually.

Is this implementation a design decision or a mistake?

[2015-09-23 23:15] peter-lawrey commented on #4
Unchecked bytes gets its performance boost by not checking bounds in all
cases.

The elastic buffer only resized when the bounds are exceeded but since
unchecked doesn't check this, there is no guarantee it will happen.
On 23 Sep 2015 5:36 pm, "Neiko2002" <notifications@github.com> wrote:

[2015-09-23 23:34] Neiko2002 commented on #4
I know, but it would be nice to call resize() or writeCheckOffset() manually to grow the buffer even if all the read/write method wont check size anymore. e.g. Let's assume I want to add 100 more elements to my existing buffer as fast as possible. Uncheck is true to boost the performance and now I would like to grow my buffer by 100*objectSize bytes. What would be the best was to do this?

[2015-09-24 03:29] peter-lawrey commented on #4
That makes sense. I will add a jira to do this.
On 23 Sep 2015 6:34 pm, "Neiko2002" <notifications@github.com> wrote:

[2015-09-24 07:48] Neiko2002 opened #5 "Translate method in NativeBytesStore"
Every read/write method in the NativeBytesStore class calls the translate method, usually nothing happens here except when being a MappedBytesStore. It might be better to either overwrite this method in the MappedBytesStore class and leave it empty in the NativeBytesStore class or to even go further and add an additional class between the MappedBytesStore and the NativeBytesStore. This new class (

[2015-10-10 04:27] peter-lawrey commented on #5
translate() should be inlined into the code and if it doesn't do anything it should be eliminated.
Can you clarify what the benefit would be to this change?

[2015-10-10 08:39] Neiko2002 commented on #5
The body of the translate method in the NativeBytesStore class is simply "return offset - start();". Since start() always returns 0 (except in the case of a MappedBytesStore) the translate call itself does not do anything useful and might slow you down. I don't know if the JIT compiler can optimize this, especially when it has to deal with a polymorphic start method.

[2015-10-10 12:38] peter-lawrey commented on #5
For methods we hand optimise we only call thus once eg for UTF8 encoding
and decoding. While I agree it could be faster I would like to see a
benchmark which shows this is what we should be changing.
On 10 Oct 2015 10:39 am, "Neiko2002" <notifications@github.com> wrote:

[2016-02-19 11:44] clayrat opened #13 "read(byte[], int, int) in StreamingInputStream doesn't signal the end of the stream properly"
I'm trying to use the `StreamingInputStream` interface and ran into an issue where reading the stream never exits. Looking at the code I see
[code]
The `in.read` method returns the length of the data read, which is always 0 or more, but the end of the stream is supposed to be signalled by `-1`. The method below, `read()` seems to handle this properly.

[2016-02-19 13:19] peter-lawrey commented on #13
Thank you, that is a bug. Would you like to issue a pull request with fix
and/or unit test?

Regards, Peter.
On 19 Feb 2016 11:44 am, "Alex Gryzlov" <notifications@github.com> wrote:

[2016-02-19 16:00] clayrat commented on #13
Ok, I'll make a PR on Monday: wrap the ```in.read``` the same ```in.readRemaining() > 0 ? ... : -1``` check (unless you have a better idea) and compose a test.

[2016-02-19 16:48] peter-lawrey commented on #13
The read() should return how much was actually read so if this is 0 it
should -1 instead.
On 19 Feb 2016 4:00 pm, "Alex Gryzlov" <notifications@github.com> wrote:

[2016-04-06 15:35] #13 closed

[2016-06-07 15:07] franz1981 opened #17 "Issue on NativeBytesStore::write from ByteBuffer"
Sent a PR with the fix:
[https://github.com/OpenHFT/Chronicle-Bytes/pull/16](url)

[2016-06-07 16:12] #17 closed

[2016-06-09 18:35] drelum opened #18 "Bytes append double with specified number of digits"
Bytes currently provides a method to append a long value with a specified number of digits:

default R append(long offset, long value, int digits)

but does not provide a similar

default B append(double d, int decimalPlaces, int digits)

Why is that? It would be very handy to have overloaded methods dealing with number of digits.

Keep up the excellent work!

André

[2016-06-10 18:01] peter-lawrey commented on #18
We are trying to limit the methods ones we have a use case for.

There is a method append(double d, int decimalPlaces) as well
as appendDecimal(long value, int decimalPlaces).

What is your use case this this doesn't do?

The method you indicate is used to implement fixed width numbers for YAML,
something which isn't used yet.

Regards,
   Peter.

On 9 June 2016 at 19:35, drelum <notifications@git

[2016-06-11 18:54] drelum commented on #18
I currently use the Fixed width append method for long values and I would like to have a fixed width for double values too. I can do it if you think it fits in the class' responsibilities

[2016-06-12 00:26] peter-lawrey commented on #18
It would. Can you provide some unit tests which illustrate what you have in
mind?
On 11 Jun 2016 2:54 PM, "drelum" <notifications@github.com> wrote:

[2016-06-21 20:36] drelum opened #19 "HeapBytesStore checking wrong offset"
Shouldn´t HeapBytesStore line 336 and 345 check offsetInRDO instead of offset?

In other words, boths lines should be changed from:
writeCheckOffset(offset, length);

to:
writeCheckOffset(offsetInRDO, length);

[2016-06-21 20:59] peter-lawrey commented on #19
Yes, it should. Would you like to issue a pull request or I can make the
change?

On 21 June 2016 at 21:36, drelum <notifications@github.com> wrote:

[2016-06-21 21:06] drelum commented on #18
Sorry or the delay. Test Cases:

`

    @Test
    public void testAppendLongRandomPosition() {
        byte[] bytes = "00000".getBytes();
    	ByteBuffer bb = ByteBuffer.wrap(bytes);
        Bytes to = Bytes.wrapForWrite(bb);

        to.append(0, 1, 5);
        assertEquals("00001", Bytes.wrapForRead(bb).toString());
    }
    @Test
    public void testAppendLongRandomPosition2() {
        byte[]

[2016-06-21 21:19] peter-lawrey commented on #18
Do you want to issue this as a Pull Request?

On 21 June 2016 at 22:06, drelum <notifications@github.com> wrote:

[2016-06-22 21:24] drelum commented on #19
I am fixing it along with the new append double feature ok?

[2016-06-23 09:39] peter-lawrey commented on #19
That sounds good to me. Be sure to include unit tests

Thank you,  Peter.

On 22 June 2016 at 17:24, drelum <notifications@github.com> wrote:

[2016-06-23 12:05] drelum commented on #19
When is the next release due?

[2016-06-23 12:08] peter-lawrey commented on #19
We plan to do a release of Queue which means releasing Byte within the next
week.

On 23 June 2016 at 13:05, drelum <notifications@github.com> wrote:

[2016-06-23 13:10] drelum commented on #19
thanks

[2016-06-23 13:10] #19 closed

[2016-06-23 13:11] #18 closed

[2016-06-27 13:13] peter-lawrey commented on #4
Bytes now has an ensureCapacity(size) which can be used to increase the size (though not decrease it)

Note: it may make the size larger than you ask for, for efficiency. e.g. if you add one byte each time.

[2016-06-27 13:13] #4 closed

[2016-06-27 13:14] peter-lawrey commented on #5
We have hand optimised some methods when we have identified a performance issue.
Closing for now. Will optimise specific methods are required.

[2016-06-27 13:14] #5 closed

[2016-07-04 21:32] drelum opened #21 "lastest release Maven Central"
Hi. I dont see latest release in http://mvnrepository.com/artifact/net.openhft/chronicle-bytes

Could you check?

Thank you

André

[2016-07-05 03:24] drelum commented on #21
i was able to download it from maven central, so my mistake. closing it

[2016-07-05 03:24] #21 closed

[2016-07-05 03:46] peter-lawrey commented on #21
Mvnrepository is a bit behind maven search which both update some time
after it is actually available.
On 4 Jul 2016 22:32, "drelum" <notifications@github.com> wrote:

[2016-11-03 01:31] leventov opened #27 "In NativeBytes.resize(), should we silently consume IllegalStateException?"
Why https://github.com/OpenHFT/Chronicle-Bytes/blob/master/src/main/java/net/openhft/chronicle/bytes/NativeBytes.java#L159-L161?

In case of ISE, it seems the data will be vanished (or corrupted), and we silently continue working. Shouldn't it better just leave ISE for the caller (and then `this.bytesStore` won't be replaced and released)?

[2016-11-03 05:02] peter-lawrey commented on #27
At one point I made a few exception checked (see a sub module in core) to
ensure unchecked exceptions were handled correctly. In this case the catch
might have been added incorrectly.  If so, it should be wrapped with
AssertionError if it should never happen.

Need to review it.

On 3 Nov 2016 01:31, "Roman Leventov" <notifications@github.com> wrote:

[2016-11-15 12:16] vasilemihali opened #29 "Tried to serialize BigDecimal but there is no support for it in BytesMarshaller"
Not actually a bug, more like an extension to support common types from Java.

I'am using version 1.7.15 and I had to write my own implementation for BigDecimal serialization, can you please provide build-in support for it? thanks.

[2016-11-25 21:13] peter-lawrey commented on #29
Add support for writing/reading text and binary formats.

[2016-11-25 21:13] #29 closed

[2016-11-25 21:14] #27 closed

[2016-11-30 16:30] peter-lawrey opened #31 "BufferedUnderlowException reading a UTF8 message"
TcpEventHandler -
java.nio.BufferUnderflowException
        at net.openhft.chronicle.bytes.BytesInternal.parseUtf8_SB1(BytesInternal.java:352) ~[chronicle-bytes-1.7.17.jar:?]
        at net.openhft.chronicle.bytes.BytesInternal.parseUtf8(BytesInternal.java:114) ~[chronicle-bytes-1.7.17.jar:?]
        at net.openhft.chronicle.bytes.StreamingDataInput.parseUtf8(StreamingDataInput.java:276) ~[chronic

[2016-12-01 15:58] peter-lawrey commented on #31
This occurred when trying to skipValue() for padding()

[2016-12-01 16:18] peter-lawrey commented on #31
skipValue() had a bug in handling padding when there was nothing after it.

[2016-12-01 16:18] #31 closed

[2016-12-23 04:51] leventov opened #32 "ObjectInput/OutputStream and standard Java serialization interop with Bytes/Wire improvement proposal"
I have an idea how it could be improved significantly compared to what we currently do (creating a new ObjectInputStream/OutputStream on each operation):

Copy ObjectInputStream from Android Open Source Project (not GPL but Apache licensed, unlike OpenJDK) and modify it to make reusable. Very minor modifications are needed, that is expose the ability to clear the sets of encountered references and

[2016-12-23 11:47] peter-lawrey commented on #32
That is a good idea.

On 23 December 2016 at 04:51, Roman Leventov <notifications@github.com>
wrote:

[2016-12-27 18:47] belousa opened #109 "Feature request: writeUTFΔTruncated"
I'd like to request a feature for Bytes (really, RandomDataOutput interface).

Would it be possible to create the string write method that truncates string to fit the available space, rather than throwing an exception when the string does not fit?

Currently, if we need to avoid the exception and we have a string that may be too large, we need to call a substring() on the string we write, creating

[2017-01-13 19:06] peter-lawrey opened #33 "Add support for encryption"

[2017-01-17 14:38] peter-lawrey commented on #33
Added tests

[2017-01-17 14:38] #33 closed

[2017-01-17 14:38] peter-lawrey opened #34 "AppendableUtils.setLength incorrect for Bytes"
From https://github.com/OpenHFT/Chronicle-Wire/pull/41

[2017-01-17 14:42] #34 closed

[2017-01-27 10:09] peter-lawrey opened #35 "Improve handling of large Strings."
The current implementation for BytesInternal fails to write if the String is longer than 1/4 of the block size of a queue.
parseUtf8_SB1 also fails to read Strings of more than 1 MB correctly.

[2017-03-02 17:29] randomanderson opened #36 "copyTo bug leads to inefficient double loop"
In `RandomDataInput`, the default implementation has a bug where it loops twice:

        int len = (int) Math.min(bb.remaining(), readRemaining());
        int i;
        for (i = 0; i < len - 7; i += 8)
            bb.putLong(i, readLong(start() + i));
        for (i = 0; i < len; i++)
            bb.put(i, readByte(start() + i));
        return len;

I think the intention was to copy 8 bytes at

[2017-03-02 17:48] peter-lawrey commented on #36
The second i = 0 is a bug. Do you want to issue a PR?

On 2 Mar 2017 17:29, "randomanderson" <notifications@github.com> wrote:

[2017-03-05 06:56] leventov commented on #36
Reviewed similar places, found a couple more problems:
 - In `VanillaBytes.append8bitNBS_S()`, double `i` assignment and should be `i < length -3`
 - In `BytesInternal.findByte()`, looping until `Integer.MAX_VALUE` looks very suspicious, should instead use some limit from the `bytes` object

[2017-03-13 12:40] RobAustin opened #37 "Native Bytes resize bug"
the log message always reports the  "Resizing buffer was" and "needs" as the same value which must be wrong.

[code]

chronicle-bytes version 1.7.34

[2017-03-13 13:00] peter-lawrey commented on #37
This is warning that the resized buffers are getting very large. Do you
expect the buffer to grow to 254 MB?
ᐧ

On 13 March 2017 at 12:40, Rob Austin <notifications@github.com> wrote:

[2017-03-13 13:21] RobAustin commented on #37
the problem is that the 'was' and 'need' figure is the same value, "buffer was 163856 KB, needs 163856 KB", see log above for other examples.

[2017-03-13 13:44] peter-lawrey commented on #37
Most likely this is a rounding error when it divides by 1024. It could be
changed to needs + X bytes more.

However you shouldn't be seeing this message in the first place. It
indicates there is a very large amount of data buffered up.
ᐧ

On 13 March 2017 at 13:21, Rob Austin <notifications@github.com> wrote:

[2017-03-14 14:43] RobAustin commented on #37
I've improved this log message to show the X bytes more

[2017-03-14 14:43] #37 closed

[2017-04-27 15:14] randomanderson commented on #36
Coming back to this, the first `i = 0 ` is a bug too!  Instead of copying to the ByteBuffer, it overwrites the buffer.  The first for...loop should start at `i = bb.position`

[2017-06-05 04:03] #36 closed

[2017-06-20 16:40] tttomat19 opened #38 "Can't pass tests on systems with locales having comma (",") as decimal point separator"
Tests in error:
net.openhft.chronicle.bytes.BytesTest.testWriter[0](net.openhft.chronicle.bytes.BytesTest)
  Run 1: BytesTest.testWriter:605 ? InputMismatch

[code]

adding `scan.useLocale(Locale.ENGLISH);`
makes the test pass ok

https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/DecimalSeparator.svg/800px-DecimalSeparator.svg.png
green countries on the map actually use this comma separato

[2017-08-30 11:53] epickrram opened #40 "Java9 support"
Meta-issue for tracking work on Java9 support.

[2017-10-29 16:49] peter-lawrey opened #43 "Some BytesTest fails"

[2017-11-20 14:31] bdelbosc opened #44 "ClosedByInterruptedException not handled in MappedBytes#realCapacity"
Hi,
In [`net.openhft.chronicle.bytes.MappedBytes#realCapacity` v1.9.18](https://github.com/OpenHFT/Chronicle-Bytes/blob/chronicle-bytes-1.9.18/src/main/java/net/openhft/chronicle/bytes/MappedBytes.java#L147)  `ClosedByInterruptedException` is catched and ignored. This cause problem with the table directory listing used in Chronicle Queue in case of thread interruption, where there is a `WARN` foll

[2017-11-20 15:01] peter-lawrey commented on #44
I have changed the behaviour to throw an IllegalStateException as the thread shouldn't be running (or creating queues) once interrupted.

[2017-11-20 15:01] #44 closed

[2017-11-21 08:03] bdelbosc commented on #44
:+1:

[2018-01-02 15:53] RobAustin commented on #35
@peter-lawrey I think the simplest solution is to add a warning if the strings approach ( say 75% ) of the block size ( and suggest they increase the block size ), The only other solution with be to chain 2 or more  excerpts together, however ( although this is the most elegant solution ) I feel its over kill as this has never been reported as an issue and would be very difficult to do correctly,

[2018-01-02 16:04] RobAustin commented on #38
thanks we added "scan.useLocale(Locale.ENGLISH);" to the test

[2018-01-02 16:04] #38 closed

[2018-01-02 17:14] RobAustin commented on #43
The failing test are

[code]

[2018-01-02 17:53] peter-lawrey commented on #35
We should have a test case which shows what happens when we exceed the safe
window which is block size/4 (the overlap)

For the default settings this is 16 MB.

Note: if this is a real use case we can fix this issue and write sections
of say 1024 characters at a time. This would raise the limit to one billion
bytes per string.
ᐧ

On 2 January 2018 at 15:53, Rob Austin <notifications@github.com> wr

[2018-01-03 04:00] JerryShea opened #45 "BytesFieldAccess fails to serialise in over the top of an already set Bytes field"

[2018-01-03 04:32] #45 closed

[2018-01-03 18:35] dpisklov opened #46 "Fixed bug in RandomDataInput#readIncompleteLong causing underreading"

[2018-01-03 18:36] #46 closed

[2018-01-03 18:38] dpisklov opened #47 "Fixed core dump when doing VanillaBytes#toString if byte store is not the first chunk"

[2018-01-03 18:39] #47 closed

[2018-01-03 18:41] dpisklov commented on #43
Created #46 and #47 to fix bugs uncovered by net.openhft.chronicle.bytes.MappedFileTest#testReferenceCounts and net.openhft.chronicle.bytes.algo.OptimisedBytesStoreHashTest#testApplyAsLong

[2018-01-03 18:44] #43 closed

[2018-01-04 15:45] dpisklov commented on #35
@peter-lawrey I added tests: `BytesInternalTest#testParseUTF_SB1_LongString` and `BytesInternalTest#testWriteLongString` writing and reading strings of 512Mb and they pass. Has this been fixed already?

[2018-01-04 17:05] peter-lawrey commented on #35
I would check all implementations for UTF and 8bit to ensure this is
correct for all of them. (Some are optimised)
ᐧ

On 4 January 2018 at 15:45, Dmitry Pisklov <notifications@github.com> wrote:

[2018-01-04 18:06] dpisklov commented on #35
@peter-lawrey I added a handful more tests, using all sorts of UTF8/8bit combinations, and they all pass with 512Mb strings. So shall we assume this is fixed now?

[2018-01-04 19:42] peter-lawrey commented on #35
I think so. Certainly more tests help.
ᐧ

On 4 January 2018 at 18:06, Dmitry Pisklov <notifications@github.com> wrote:

[2018-01-05 10:36] #35 closed

[2018-01-09 22:24] joncrocks opened #48 "StreamingInputStream zero length read behaviour"
The behaviour of StreamingInputStream no longer adheres to the InputStream contract.

From InputStream javadoc.

     * <p> If <code>len</code> is zero, then no bytes are read and
     * <code>0</code> is returned; otherwise, there is an attempt to read at
     * least one byte. If no byte is available because the stream is at end of
     * file, the value <code>-1</code> is returned; otherwise, a

[2018-01-12 15:40] epickrram opened #49 "Support storage of data in lower 31 bits of header while it is being written to"

[2018-01-12 15:40] epickrram commented on #49
Preparatory work for https://github.com/OpenHFT/Chronicle-Queue/issues/415

[2018-01-12 15:42] #49 closed

[2018-01-23 14:22] #48 closed

[2018-01-28 12:33] peter-lawrey opened #50 "Add support for reading and writing nested BytesMarshallable objects"
Added readMarshallableLength16 and writeMarshallableLength16 which uses a 16-bit unsigned length for nested data values.

[2018-01-28 12:34] #50 closed

[2018-01-28 14:52] peter-lawrey opened #51 "Next minor release: change ReadBytesMarsallable.readMarshallable(BytesIn) to use generic"
This causes some generic method to act as raw ones otherwise.

[2018-02-08 07:35] epickrram opened #52 "Resource leak in MappedFile"
`acquireByteStore()` erroneously takes a reference to the acquired BytesStore

[2018-02-08 13:18] epickrram opened #53 "MappedBytes should override read* methods"
read methods should perform the same `inside` check as the write methods:

[code]

[2018-02-08 13:37] #52 closed

[2018-02-08 18:37] peter-lawrey commented on #53
They should all call readCheckOffset for StreamingDataInput methods or have
this code for RandomDataInput methods.
ᐧ

On 8 February 2018 at 13:18, Mark Price <notifications@github.com> wrote:

--

Peter Lawrey
CEO
+44 7557017054 <07771%20662994>
chronicle.software

Trading as Chronicle Software Ltd

[2018-03-12 13:27] RobAustin opened #56 "Add java doc to net.openhft.chronicle.bytes.Bytes#wrapForRead(byte[]) stating that this creates garage"
please also add something similar ( to below )  for the follow methods:

![screen shot 2018-03-12 at 13 26 13](https://user-images.githubusercontent.com/6506056/37286142-07dd033c-25f9-11e8-9f0a-b56f1adaca18.png)

To avoid garbage please suggest in the java doc, use something like the following ( but you will have to tailor if for each method ) :

[code]

[2018-03-13 15:24] peter-lawrey opened #57 "parseLong should use peakUnisignedByte to allow for an unterminated value."

[2018-03-13 15:25] #57 closed

[2018-03-15 00:48] JerryShea opened #58 "BytesMarshaller to support serialisation of null Bytes"

[2018-03-15 00:50] #58 closed

[2018-03-16 12:21] #56 closed

[2018-03-16 15:52] hft-team-city commented on #56
Test

[2018-03-16 16:01] hft-team-city commented on #56
Test

[2018-03-16 16:17] hft-team-city commented on #56
Test

[2018-03-16 16:22] hft-team-city commented on #56
Test

[2018-03-16 16:28] hft-team-city commented on #56
Test

[2018-03-16 16:30] hft-team-city commented on #56
Test

[2018-03-22 06:19] JerryShea opened #59 "BytesMarshaller serialises char using read/writeStopBit instead of String (which was garbagy)"
Note that this change breaks binary compatibility with previously serialised byte buffers but gives 2 benefits:
- no garbage
- uses less space (1 byte instead of 2 for an 8bit char)

@RobAustin @peter-lawrey should we wait for the next point release to introduce a breaking change like this? I can always parameterise

[2018-03-22 23:29] JerryShea commented on #59
Have bumped version from middle version number - now is 1.**_12_**.5-SNAPSHOT and will shoot email around to warn folks of breaking change

[2018-03-22 23:29] #59 closed

[2018-03-23 06:12] RobAustin commented on #59
I think it should be 1.12.0-snapshot.

[2018-03-23 06:35] JerryShea commented on #59
Yes you are right - I actually used 1.12.1-snapshot in the end (wasn't
thinking straight)

On Mar 23, 2018 5:12 PM, "Rob Austin" <notifications@github.com> wrote:

[2018-03-23 11:16] RobAustin commented on #51
@tomshercliff if you want further information on this issue, please contact @peter-lawrey

[2018-03-23 11:29] #40 closed

[2018-04-04 07:36] peter-lawrey commented on #56
All the wrapXxxx methods create new objects.

On 4 April 2018 at 01:49, Chronicle Software <notifications@github.com>
wrote:

--

Peter Lawrey
CEO
+44 7557017054 <07771%20662994>
chronicle.software

Trading as Chronicle Software Ltd

[2018-04-12 11:09] kosiakk opened #60 "Option to truncate MappedFile"
I'm using Bytes as an amazing replacement for `ByteBuffer`, in order to produce large output files of a specific binary format.

Only one thing is missing right now:  once I've finished writing all the data, the file still contains a bunch of zeros at the end - unused data from the last page, between `writePosition` and `realCapacity`. Those zeros are implicitly present in `ElasticBytes`, of cours

[2018-04-12 11:14] kosiakk commented on #60
Depending on the luck, I get an error from `truncate` operation: `The requested operation cannot be performed on a file with a user-mapped section open`

[2018-04-25 14:53] hft-team-city commented on #56
Test comment - ignore

[2018-04-25 15:28] hft-team-city commented on #56
Test comment - ignore Released in BOM-bomVersion (bomURL), project-projectVersion (projectURL)

[2018-04-25 20:42] RobAustin opened #61 "Added Comparable<> to bytes"

[2018-04-25 20:43] #61 closed

[2018-04-26 15:29] hft-team-city commented on #61
Released in Chronicle-Bytes-1.12.7 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.12.7), BOM-1.15.253 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.15.253)

[2018-04-27 13:05] hft-team-city commented on #61
Released in Chronicle-Bytes-1.12.7 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.12.7), BOM-1.15.259 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.15.259)

[2018-04-30 15:39] NickWard opened #62 "BytesInternal.read8bit should be re-organized for a much shorter call stack."
... which might improve the optimisation

[2018-04-30 15:51] NickWard opened #63 "Add new method to BytesOut to writeDoubleAndInt"
Improve efficiency esp for fix messages where double fields often go along with a number of decimal places by avoiding common overheads.

[2018-05-01 04:37] #63 closed

[2018-05-01 12:42] hft-team-city commented on #63
Released in Chronicle-Bytes-1.12.10 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.12.10), BOM-1.15.271 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.15.271)

[2018-05-01 15:25] hft-team-city commented on #63
Released in Chronicle-Bytes-1.12.10 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.12.10), BOM-1.15.272 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.15.272)

[2018-05-01 16:56] hft-team-city commented on #63
Released in Chronicle-Bytes-1.12.10 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.12.10), BOM-1.15.274 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.15.274)

[2018-05-14 08:58] RobAustin opened #64 "Added enhancements to better ensure file handlers are released"
A client has reported that the file handles are not always being released, as such we have tightened up the code in this area, having said this, its not yet and issue that we have been able to reproduce.

[2018-05-14 08:58] #64 closed

[2018-06-04 09:23] peter-lawrey opened #65 "MappedFile should utilise overlapping region for small reads"

[2018-06-05 11:44] peter-lawrey opened #66 "Large copy from a byte[] causes a crash"

[2018-06-05 12:20] peter-lawrey commented on #66
A test needs to be added for large reads as well.

[2018-06-05 13:07] peter-lawrey opened #67 "Extend BytesMarshallable to support nested collections and add write/readObject"

[2018-06-05 13:09] #67 closed

[2018-06-05 16:47] peter-lawrey opened #68 "WeakReferenceCleaner now removed from REFERENCE_MAP on scheduleForClean() but breaks a test"
The following enhancement to stop a map growing large under load and causing jitter, causes a test monitoring this map to blow up.

net.openhft.chronicle.queue.impl.single.AppenderFileHandleLeakTest#tailerShouldReleaseFileHandlesAsQueueRolls

[code]

[2018-06-06 12:05] hft-team-city commented on #67
Released in Chronicle-Bytes-1.16.2 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.16.2), BOM-1.16.19 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.19)

[2018-06-06 12:05] hft-team-city commented on #65
Released in Chronicle-Bytes-1.16.2 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.16.2), BOM-1.16.19 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.19)

[2018-06-07 17:38] aweisberg opened #69 "NativeBytesStore.toTemporaryDirectByteBuffer() doesn't strongly reference the memory it points to"
I was having issues where deserialization would fail with an out of range value here https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/tools/fqltool/Dump.java#L84

If I change it toByteArray() it works consistently. java.nio.DirectByteBuffer has an attachment field you can set to whatever it needs to strongly reference.

I can't say with 100% certainty this is what is ha

[2018-06-11 13:50] dpisklov commented on #69
From quick glance at what you are doing, I wouldn't recommend using `#toTemporaryDirectByteBuffer()`. You can use `#underlyingObject()` instead, and the underlying object will be ByteBuffer.
In addition, `codec#decode()` could directly use net.openhft.chronicle.bytes.Bytes, instead of ByteBuffer...

[2018-06-11 13:53] dpisklov commented on #69
I'm also not sure `#toTemporaryDirectByteBuffer()` is doing what you expect it to do:
[code]
Note `bb.clear()` - it clears the ByteBuffer hence your error...

[2018-06-11 14:56] aweisberg commented on #69
What's wrong with bb.clear()? https://docs.oracle.com/javase/7/docs/api/java/nio/Buffer.html#clear()
It's not the idiomatic thing to use (that would be flip()) but it works. It doesn't actually clear the contents of the buffer.

toTemporaryDirectByteBuffer() might not be the best method, but as long as it's there it should probably not do something surprising like that. If it is going to do it the

[2018-06-11 15:02] dpisklov commented on #69
Well clear() resets the pointers so without first setting position/limit to where it was unlikely you will be able to read the data. I think this is what causing your issue, and not the lack of strong reference. While you're inside the reading document (and your whole reader closure is inside) the memory won't be free'd.

[2018-06-11 15:15] aweisberg commented on #69
It's a copy. The only bytes in there are the bytes I care about right? So clear just sets it to the beginning of the bytes I care about and limit set to capacity is the end of the bytes I care about.

[2018-06-11 15:28] dpisklov commented on #69
It sounds reasonable to me after looking at the ByteBuffer code but it's somewhat counter-intuitive...
Anyway given we actually do copy bytes into that ByteBuffer I don't think it makes sense to reference some other memory from it? Or am I missing something?

[2018-06-11 15:33] aweisberg commented on #69
Ah that is the wrong implementation of toTemporaryDirectByteBuffer(). Sorry didn't notice.

https://github.com/OpenHFT/Chronicle-Bytes/blob/cbb5de9d77bdae82789dad141266a8b28a8214b7/src/main/java/net/openhft/chronicle/bytes/NativeBytesStore.java#L688

[code]

[2018-06-11 16:41] dpisklov commented on #69
Actually I just realised that you're doing `WireIn#bytesStore()` - any reason for this? This creares a new BytesStore which wraps bytes and does all sort of copying etc (and which is then I guess discarded by JVM as it probably is optimised and allocated on stack...).
You can (and probably should) instead use either WireIn#bytes() which will give you byte[] if that suits you, or alternatively you

[2018-06-11 16:57] aweisberg commented on #69
[Switching to bytes() is the plan.](https://github.com/apache/cassandra/compare/trunk...aweisberg:cassandra-14504-trunk?expand=1#diff-6665086f6cb49a99e69936c0c3ed8b36L84)

I think I incorrectly assumed bytesStore() would return a zero copy view of the underlying storage and that would be a way for me to get a ByteBuffer pointing to the mmapped file so I could construct the Netty ByteBuf necessary

[2018-06-11 17:42] dpisklov commented on #69
OK so you mind closing this issue then if your problem is solved?
Thanks

On Mon, 11 Jun 2018, 17:57 aweisberg, <notifications@github.com> wrote:

[2018-06-11 17:46] aweisberg commented on #69
This issue isn't about a problem in Cassandra it's about NativeBytesStore.toTemporaryDirectByteBuffer()? I know we got sidetracked, but it really seems like that needs to be either implemented or documented better.

[2018-06-11 17:48] dpisklov commented on #69
OK I'll think of a way to improve the documentation

On Mon, 11 Jun 2018, 18:46 aweisberg, <notifications@github.com> wrote:

[2018-06-11 17:51] aweisberg commented on #69
Is there a reason not set the DirectByteBuffer.att to reference the memory it points to? Then it would just work even for people who don't read the javadoc instead of failing at runtime non-deterministically.

[2018-06-12 11:47] dpisklov commented on #69
The problem is there's nothing to point to. We allocate memory using `Unsafe.allocateMemory()` and the only thing we have is address. Then BytesStore keeps track of the references using reserve/release and when last release is called the ref cleaner deallocates the memory. The problem is if we try to reserve when we do `toTemporaryDirectBuffer()` then we somehow need to be sure release() will be c

[2018-06-14 15:38] aweisberg commented on #69
I think you are right there are cases where explicit memory management is used, but those tend to work correctly as long as you don't leak the reference to temporary DBB beyond the scope where the reference is released. I'm not doing that in this case.

I think there is a bug here it's just not the one I thought.

So BinaryWire.bytesStore() in the u8_array and i64_array case invokes NativeBytesSto

[2018-06-21 11:10] #69 closed

[2018-06-21 11:11] dpisklov commented on #69
@aweisberg sorry it took me too long to get back on this.
I took your suggestion and now we store strong reference. Thanks

[2018-06-21 14:30] RobAustin commented on #60
which OS are you using, I think windows will report the full size of the memory mapping, where as linux will show you the space actually used.

[2018-06-27 10:39] RobAustin opened #70 "Optimised the call to Math.round()"
It was shown to added latency

[code]

[2018-06-27 10:40] #70 closed

[2018-06-29 10:32] RobAustin commented on #68
see
http://teamcity.higherfrequencytrading.com:8111/viewLog.html?buildId=269176&tab=buildResultsDiv&buildTypeId=OpenHFT_ChronicleQueue4_Snapshot

[2018-06-29 11:00] peter-lawrey opened #71 "Improve support for stop bit encoded chars"
Bytes didn't have direct support for chars, rather it used stop bit encoding.

Added two methods writeStopBit(char) and readStopBitChar() to improve support.

[2018-06-29 11:02] #71 closed

[2018-06-29 11:59] #68 closed

[2018-07-06 17:08] hft-team-city commented on #71
Released in Chronicle-Bytes-1.16.17 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.16.17), BOM-1.16.102 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.102)

[2018-07-06 17:08] hft-team-city commented on #68
Released in Chronicle-Bytes-1.16.17 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.16.17), BOM-1.16.102 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.102)

[2018-07-13 12:19] RobAustin commented on #66
I'll take a look

[2018-07-13 14:24] #66 closed

[2018-07-17 23:38] JerryShea opened #72 "Bytes.read|writeUtf8 works for empty string"

[2018-07-18 00:09] JerryShea opened #73 "BytesMarshallable for array fields"
See
[code]
in net.openhft.chronicle.bytes.BytesMarshaller.FieldAccess#create

[2018-07-20 09:13] RobAustin commented on #51
Closing as there is not enough detail in the description, please re-open if required, with more details.

[2018-07-20 09:13] #51 closed

[2018-08-05 14:35] peter-lawrey opened #74 "Added an option of an offset for the start of each line for HexDumpBytes"

[2018-09-11 07:43] RobAustin opened #75 "Port Chronicle-Bytes to C++"

[2018-10-02 12:07] peter-lawrey opened #76 "Make BinaryLongArrayReference BytesMarshallable"

[2018-10-02 12:11] #76 closed

[2018-10-02 15:47] hft-team-city commented on #76
Released in Chronicle-Bytes-1.16.28 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-1.16.28), BOM-1.16.205 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.205)

[2018-10-09 10:09] dpisklov commented on #35
@adhamelia can you provide a test case reproducing it?

[2018-10-09 12:56] adhamelia commented on #35
@dpisklov

PFA log

Usage of map as follows:
 ChronicleMap<String,String> m_monitorAlertsCache =  ChronicleMap
                .of(String.class, String.class)
                .name(TraceOrgSDKConstants.CACHE_MONITOR_ALERTS_CACHE)
                .averageKeySize(100)
                .averageValueSize(1000)
                .entries(1000000L)
                .createPersistedTo(new File(TraceOrgSDKCon

[2018-10-10 11:14] dpisklov commented on #35
@adhamelia this doesn't quite help us to reproduce the issue. Are you able to extract the code into a test case that reproduces the error?

[2018-10-18 07:56] RobAustin opened #77 "added - public Bytes<Underlying> write(@NotNull RandomDataInput bytes);"

[2018-10-18 08:01] #77 closed

[2018-10-20 10:48] hft-team-city commented on #77
Released in Chronicle-Bytes-2.17.1 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.1), BOM-2.17.16 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.16)

[2018-10-22 10:10] RobAustin opened #78 "Optimised nextSetBit to reduce bit set scanning"
added:

[code]

[2018-10-22 11:04] #78 closed

[2018-10-24 02:32] hft-team-city commented on #78
Released in Chronicle-Bytes-2.17.2 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.2), BOM-2.17.19 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.19)

[2018-10-24 12:13] #60 closed

[2018-10-30 15:26] #62 closed

[2018-10-31 10:13] dpisklov opened #79 "Fixed alignment for Text{Int|Long}Reference on ARM"

[2018-10-31 10:45] #79 closed

[2018-11-02 11:08] hft-team-city commented on #79
Released in Chronicle-Bytes-2.17.3 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.3), BOM-2.17.30 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.30)

[2018-11-06 09:33] #32 closed

[2018-11-06 10:11] #73 closed

[2018-11-06 14:17] hft-team-city commented on #56
Test comment - ignore Released in BOM-bomVersion (bomURL), project-projectVersion (projectURL)

[2018-11-09 16:43] RobAustin commented on #75
I'm going to close this as duplicate as it has been moved to -> https://github.com/ChronicleEnterprise/Chronicle-Queue-CPP

[2018-11-09 16:43] #75 closed

[2018-11-11 09:36] joa23 opened #80 "bytes.copyTo(outputStream) fails"
Hi there,
Is there a known issue with bytes.copyTo(outputStream)?
I experience a strange behavior where `bytes.copyTo(outputStream)` stops at 2GB.
However simply doing the following works fine:
[code]

[2018-11-11 09:53] robaustin123 commented on #80
You have provided an example of who does work. Please provide an example of what does NOT work. Thanks.

[2018-11-11 18:48] joa23 commented on #80
Sorry, here a fully reproducible example.
[code]
Results in a:
5.0G	textFile1.bin
2.0G	textFile2.bin
[code]
on a:
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro13,3
  Processor Name:	Intel Core i7
  Processor Speed:	2.9 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	8 MB
  Memory:	16 GB

using:
java version "1.8.0_112"
Java(TM) SE Runtime

[2018-11-12 01:47] joa23 commented on #80
I wrote a chaos monkey test having 100 threads writing / reading up to 3GB native memory buffers in parallel. With that, I regularly but not always manage to get the buffer.read method to crash as well. Dump attached.
[hs_err_pid68867.log](https://github.com/OpenHFT/Chronicle-Bytes/files/2570202/hs_err_pid68867.log)

Any help is very appreciated.

[2018-11-12 10:30] RobAustin commented on #80
from your log, we see

[code]

[2018-11-12 10:32] RobAustin commented on #80
@joa23  I ran your test ( above ) on my iMac, I let it run for a couple of mins, it did not crash, I'm using the latest version of Chronicle-BOM : 2.17.39, please retest with this version an let me know if you still see an issue.

[2018-11-12 10:45] RobAustin commented on #80
It's likely that the `long read` was incorrect in the following code:

net.openhft.chronicle.bytes.NativeBytesStore#copyToDirect

[code]

I'm not able to reproduce this issue, so are you able to investigate this, perhaps by adding some trace code to record the values just before it crashes. It would be good to see also the (readRemaining() and writeRemaining()

What I think is happening here ( but

[2018-11-12 23:47] joa23 commented on #80
Rob,
Thanks for your help. I'm only using Chronicle-bytes version '2.17.3' not the whole BOM project. Could that be an issue? That said - from looking at BOM dependencies - it also just references chronicle-bytes 2.17.3. I will try to checkout chronicle-bytes sources and add the instrumentation as you suggest in the next days and will let you know.
Maybe you can write a loop around my example code

[2018-11-13 09:37] hft-team-city commented on #75
Released in Chronicle-Bytes-2.17.4 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), BOM-2.17.42 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.42)

[2018-11-13 15:37] hft-team-city commented on #75
Released in Chronicle-Bytes-2.17.4 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), BOM-2.17.44 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.44)

[2018-11-15 06:24] JerryShea opened #81 "EnumInterner calls toString and can get "Not available" when running in debugger #552"
Related the quote in #553 "when debugging MappedBytes, it is pain as the toString() or toHexString used by the debugger alter the underlying bytesStore. Now it detects this is happening and returns "Not available"

@peter-lawrey can you show me which toString() implementation was altering the underlying bytesStore? I've written a test (net.openhft.chronicle.bytes.BytesTest#testToStringDoesNotChang

[2018-11-15 06:25] #81 closed, assigned to nobody

[2018-11-15 16:26] hft-team-city commented on #75
Released in Chronicle-Bytes-2.17.4 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), BOM-2.17.46 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.46)

[2018-11-15 18:25] joa23 opened #82 "Minor java doc error"
[code]

I assume this method actually allocates a buffer with initialCapacity..

[2018-11-15 19:44] #82 closed

[2018-11-16 18:04] hft-team-city commented on #75
Released in Chronicle-Bytes-2.17.4 (https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), BOM-2.17.48 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.48)

[2018-11-20 02:50] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.50](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.50)

[2018-11-20 03:49] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.52](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.52)

[2018-11-20 05:35] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.53](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.53)

[2018-11-21 11:11] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.60)

[2018-11-26 12:24] dpisklov opened #83 "Performance regression - related to change for #77"

[2018-11-26 12:25] #83 closed, assigned to nobody

[2018-11-27 20:43] hft-team-city commented on #83
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-27 20:43] hft-team-city commented on #82
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-27 20:43] hft-team-city commented on #81
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-27 20:43] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.72)

[2018-11-28 16:57] hft-team-city commented on #83
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-11-28 16:57] hft-team-city commented on #82
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-11-28 16:57] hft-team-city commented on #81
Released in [Chronicle-Bytes-2.17.5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.5), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2018-11-28 16:57] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.17.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.4), [BOM-2.17.74](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.74)

[2019-01-07 09:09] chrisjeg opened #84 "AbstractInterner equalBytes() returning true when strings are not equal."
There appears to be an issue in the string interning implementation (AbstractInterner). The following unit tests demonstrates a case where invoking the intern method can return a different value to that passed in. This seems to be caused by equalBytes returning true when strings are not equal.

This has been reproduced in 1.16.23 and also the most recent version of chronicle-bytes.

[code]
[code]

[2019-01-09 04:30] JerryShea opened #85 "bytes.append(double) and bytes.parseDouble() problematic for some numbers"
bytes.append(6.85202d).toString() results in 6.8520200000000008

In this case we behave differently to Double.toString and Double.parseDouble - see the unit test.

Seems that underlying problem is in BytesInternal.asDouble. Have changed the test to call this more directly.

[2019-01-09 21:53] JerryShea commented on #85
[code]
gives
[code]

[2019-01-10 11:19] peter-lawrey commented on #85
Related to https://github.com/OpenHFT/Chronicle-Wire/issues/110

[2019-01-10 21:35] #85 closed

[2019-01-20 19:56] MartyIX commented on #84
@chrisjeg `equalBytes` is implemented as an asymmetric comparison.

The commit above seems to fix the issue. However, it's big change and I don't really know what this may break. So ...

[2019-01-21 09:20] JerryShea commented on #84
Have added some additional testing to capture another failure case and fixed the defect. Please review!

[2019-01-21 09:53] JerryShea commented on #84
Thanks guys for drawing this one to our attention

[2019-01-21 14:47] hft-team-city commented on #85
Released in [Chronicle-Bytes-2.17.9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.9), [BOM-2.17.119](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.119)

[2019-01-21 19:21] #84 closed

[2019-01-21 19:54] MartyIX commented on #84
LGTM

[2019-02-06 14:40] dpisklov opened #88 "StreamingOutputStream should not throw exception when calling write(int) with numbers over 255"
According to OutputStream javadoc, we should simply ignore higher 7 bytes, but at the moment we throw IllegalArgumentException

[2019-02-06 14:42] #88 closed

[2019-02-07 20:05] hft-team-city commented on #88
Released in [Chronicle-Bytes-2.17.15](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.15), [BOM-2.17.149](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.149)

[2019-03-19 08:52] RobAustin opened #97 "Fixed issue where optimisedWrite() on a resize was using the wrong address"

[2019-03-19 08:57] #97 closed

[2019-03-19 21:29] hft-team-city commented on #97
Released in [Chronicle-Bytes-2.17.19](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.19), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #88
Released in [Chronicle-Bytes-2.17.15](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.15), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #84
Released in [Chronicle-Bytes-2.17.14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.14), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-03-19 21:29] hft-team-city commented on #85
Released in [Chronicle-Bytes-2.17.9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.9), [BOM-2.17.196](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.196)

[2019-04-03 12:46] hft-team-city commented on #97
Released in [Chronicle-Bytes-2.17.19](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.19), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:46] hft-team-city commented on #88
Released in [Chronicle-Bytes-2.17.15](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.15), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:46] hft-team-city commented on #84
Released in [Chronicle-Bytes-2.17.14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.14), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-03 12:46] hft-team-city commented on #85
Released in [Chronicle-Bytes-2.17.9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.9), [BOM-2.17.225](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.225)

[2019-04-24 11:31] peter-lawrey opened #98 "Added support for detecting issues with BytesMarshallable"
BytesMarshallable can be hard to debug with no meta data.
This adds an option to enable meta data compatible with BinaryWire so the stream can be checked
[code]
or
[code]
This changes the format and makes the data larger but adds checks which makes it easier to find inconsistencies between WriteMarshalable and ReadMarshallable.

[2019-04-24 11:47] #98 closed

[2019-04-26 18:18] peter-lawrey opened #99 "Turn off a couple of optimisations which are unreliable on Windows"

[2019-04-26 21:32] hft-team-city commented on #98
Released in [Chronicle-Bytes-2.17.23](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.23), [BOM-2.17.233](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.233)

[2019-05-02 13:38] RobAustin opened #100 "Fixed an issue that was under certain conditions causing a JVM crash"
[code]

[2019-05-02 13:42] #100 closed

[2019-05-02 14:44] hft-team-city commented on #100
Released in [Chronicle-Bytes-2.17.24](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.24), [BOM-2.17.235](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.235)

[2019-05-02 18:01] RobAustin opened #101 "Added missing block check to peekUnsignedBytes"

[2019-05-02 18:02] RobAustin commented on #101
relates to https://github.com/OpenHFT/Chronicle-Bytes/issues/100

[2019-05-02 18:04] #101 closed

[2019-05-02 18:59] RobAustin opened #102 "Fixed issue where safeLimit was being used rather than maximumLimit"

[2019-05-02 19:09] hft-team-city commented on #101
Released in [Chronicle-Bytes-2.17.25](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.25), [BOM-2.17.236](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.236)

[2019-05-02 19:30] #102 closed

[2019-05-03 19:05] peter-lawrey opened #103 "Improve support for BytesMethodReader and MethodId and HexDumpBytes chaining"

[2019-05-08 06:36] JerryShea commented on #103
See https://github.com/OpenHFT/Chronicle-Wire/commit/e4ff2744c8d568448cc92746e7f5aaab04376dea

[2019-05-08 15:29] hft-team-city commented on #101
Released in [Chronicle-Bytes-2.17.25](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.25), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #100
Released in [Chronicle-Bytes-2.17.24](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.24), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #98
Released in [Chronicle-Bytes-2.17.23](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.23), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #97
Released in [Chronicle-Bytes-2.17.19](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.19), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #88
Released in [Chronicle-Bytes-2.17.15](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.15), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #84
Released in [Chronicle-Bytes-2.17.14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.14), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-05-08 15:29] hft-team-city commented on #85
Released in [Chronicle-Bytes-2.17.9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.9), [BOM-2.17.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.241)

[2019-07-09 12:56] RobAustin opened #104 "Fixed issue with net.openhft.chronicle.bytes.VanillaBytes#append"
it was not setting the write position after doing the append

[2019-07-09 12:56] RobAustin commented on #104
@rogersimmons could you check if this issue is in c++

[2019-07-09 14:06] #104 closed

[2019-07-09 14:15] RobAustin commented on #104
I've reverted this change as the issue turned out to be elsewhere

[2019-08-30 13:43] peter-lawrey opened #105 "Make sure the global lock in MappedFile is global when using multiple class loaders."

[2019-08-30 13:44] #105 closed

[2019-09-25 05:01] hft-team-city commented on #105
Released in [Chronicle-Bytes-2.17.37](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.37), [BOM-2.17.387](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.387)

[2019-11-19 11:22] peter-lawrey opened #106 "Added support for byte[], int[], float[], long[], double[] to BytesMarshallable"

[2019-11-19 11:23] #106 closed

[2019-11-19 11:45] hft-team-city commented on #106
Released in [Chronicle-Bytes-2.17.41](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.17.41), [BOM-2.17.457](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.17.457)

[2019-12-12 02:03] Cheappie opened #108 "Simplistic suggestion which may resolve old todo"
https://github.com/OpenHFT/Chronicle-Bytes/blob/30c11b8ba1398b417a6d0148ec8c049723c0398e/src/main/java/net/openhft/chronicle/bytes/VanillaBytes.java#L275

Hello, while I was learning how things work in codebase, I came across some old todo, which was left years ago. I saw some room for improvement in impl, possible change which could be called  'optimisation'. Changes can be found in link mentione

[2019-12-12 15:44] dpisklov commented on #108
@peter-lawrey Peter?

[2020-02-28 05:42] JerryShea opened #110 "AbstractBytes.writeSome was not calling ensureCapacity"

[2020-02-28 05:44] #110 closed

[2020-02-28 05:53] hft-team-city commented on #110
Released in [Chronicle-Bytes-2.19.0](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.0), [BOM-2.19.10](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.10)

[2020-04-01 14:24] dpisklov commented on #103
Seems to be fixed

[2020-04-01 14:24] #103 closed

[2020-04-01 14:27] dpisklov opened #111 "Fixed incorrect lastDecimalPlaces when parsing double in scientific notation"

[2020-04-01 14:28] #111 closed

[2020-04-01 15:32] hft-team-city commented on #103
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.60)

[2020-04-01 15:32] hft-team-city commented on #111
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.60)

[2020-04-01 18:36] hft-team-city commented on #111
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.62](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.62)

[2020-04-01 18:36] hft-team-city commented on #103
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.62](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.62)

[2020-04-01 18:59] hft-team-city commented on #111
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.63](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.63)

[2020-04-01 18:59] hft-team-city commented on #103
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.63](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.63)

[2020-04-01 19:46] hft-team-city commented on #111
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.64](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.64)

[2020-04-01 19:46] hft-team-city commented on #103
Released in [Chronicle-Bytes-2.19.2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.2), [BOM-2.19.64](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.64)

[2020-04-07 18:23] #108 closed

[2020-04-07 18:24] RobAustin commented on #108
the main issue here was that java.lang.String#toCharArray creates a new char[]

[2020-04-08 16:44] hft-team-city commented on #108
Released in [Chronicle-Bytes-2.19.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.4), [BOM-2.19.87](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.87)

[2020-04-08 18:35] hft-team-city commented on #108
Released in [Chronicle-Bytes-2.19.4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.4), [BOM-2.19.90](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.90)

[2020-04-21 12:31] peter-lawrey opened #112 "Reinstate MethodWriterBuilder"

[2020-04-21 12:32] #112 closed

[2020-04-21 15:14] hft-team-city commented on #112
Released in [Chronicle-Bytes-2.19.6](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.6), [BOM-2.19.111](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.111)

[2020-04-21 22:06] hft-team-city commented on #112
Released in [Chronicle-Bytes-2.19.6](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.6), [BOM-2.19.112](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.112)

[2020-04-22 14:26] hft-team-city commented on #112
Released in [Chronicle-Bytes-2.19.6](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.6), [BOM-2.19.116](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.116)

[2020-05-06 14:00] RobAustin opened #113 "Added dump() to mappedBytes to help to check for unwanted open file handles"

[2020-05-06 14:05] #113 closed

[2020-05-08 13:53] minborg opened #114 "MappedBytes::dump raises a ConcurrentModificationException"

[2020-05-08 13:57] #114 closed

[2020-05-08 14:35] minborg opened #115 "MappedFile::actualSize might get caught in a loop"
It is unclear when `FileChannel::size` will ever throw an `ArrayIndexOutOfBoundsException` but if it does, the method `MappedFile::actualSize` might get caught in an infinite loop until the stack overflows.

[code]

[2020-05-08 14:39] minborg opened #116 "MappedFile::performRelease may concurrently modify stores"
the `stores` List is not protected from being concurrently modified.

[2020-05-08 14:41] minborg opened #117 "MappedFile::performRelease closes entities that are the concerns of RandomAccessFile"
[code]

[2020-05-08 14:48] #117 closed

[2020-05-08 15:12] minborg opened #118 "MappedFile: Potential race between acquireByteStore and performRelease"
It is possible that `performRelease()` and `acquireByteStore()` could be invoked so that stores items are first cleared by `performRelease` but then new ones could be still acquired.

Related to #116

[2020-05-11 13:12] #116 closed

[2020-05-11 13:12] #118 closed

[2020-05-26 08:31] RobAustin opened #119 "reduced calls to raf.setLength()"
We are calling raf.setLength() every time we allocate a new chunk, it is expected that calls to raf.setLength() are rather expensive however this has to be confirmed. ( So may close this issue as wont fix, later )
![image](https://user-images.githubusercontent.com/6506056/82878353-4b146e00-9f33-11ea-950f-08fefb352aea.png)

[2020-05-26 08:43] RobAustin commented on #119
its is likely this is related to the following stalls

[code]

[2020-05-26 08:45] RobAustin commented on #119
also, this synchronized (GLOBAL_FILE_LOCK), is locking on a static, in other words,

[code]

![image](https://user-images.githubusercontent.com/6506056/82879903-8748ce00-9f35-11ea-95ab-2f88018d621e.png)

[2020-05-26 08:52] RobAustin commented on #119
@JerryShea these issues can be reproduced by running datagrid, software.chronicle.datagrid.issue.SubscriberThrottlingTest#reproduceTopicSubscriber

[2020-05-26 08:58] RobAustin commented on #119
This test above can be improved by setting :

[code]

[2020-05-26 15:00] RobAustin opened #120 "MappedFile slow tailer is blocked by appender calling raf.setLength()"
A tailer which is many thousand messages behind is blocked by an appender, I feel the solution here is to make the tailer acquireByteStore as readOnly for tailers

tailer:
[code]

appender:
[code]

the appender is on this line:

![image](https://user-images.githubusercontent.com/6506056/82916430-efb1a280-9f69-11ea-81b3-d8dfe0de505b.png)

[2020-05-26 16:33] RobAustin commented on #120
mappedFile.acquireByteStore() was both synchronized() at a method level and also locked via synchronized (GLOBAL_FILE_LOCK), Hence, tailers who were trying to acquire an earlier ByteStore where being blocked, the fix was to rework the synchronization. To allow consumers who do not require an increase in the raf.setLength() to proceed unhindered.

[2020-05-26 16:34] #120 closed

[2020-05-26 16:45] RobAustin commented on #119
this issue is related to https://github.com/OpenHFT/Chronicle-Bytes/issues/120 which is now fixed so closing this issue.

[2020-05-26 16:45] #119 closed

[2020-05-27 14:32] minborg opened #121 "Reduced synchronization scope in MappedFile"
Currently, an unnecessarily large portion of the `MappedFile` code is under synchronization control. Reducing this would increase multi-threaded performance.

[2020-05-27 14:32] #121 closed

[2020-05-27 14:52] minborg opened #122 "Introduce a more granular lock in MappedFile::resizeRafIfTooSmall"
Currently, there is a global lock for resizing mapped files. This prevents concurrent resizing of distinct files and in situations where there is a plurality of mapped files managed by a single JVM and when resizing might take a substantial time, the implied latencies might compounded. For example, a user of file C is waiting for a file B to resize which, in turn, waits for file A to resize creati

[2020-05-27 16:00] #122 closed

[2020-05-27 16:26] RobAustin commented on #121
looks good

[2020-05-30 09:27] peter-lawrey opened #123 "Throw a IllegalStateException when using a released Bytes"

[2020-05-30 09:40] #123 closed

[2020-06-01 23:26] JerryShea opened #124 "Suppress warnings during MappedFile.warmup"

[2020-06-01 23:28] #124 closed

[2020-06-02 16:03] hft-team-city commented on #124
Released in [Chronicle-Bytes-2.19.31](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.31), [BOM-2.19.173](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.173)

[2020-06-16 15:25] peter-lawrey opened #125 "MappedFile to use a cache of strong reference instead of WeakReferences"

[2020-06-17 18:04] peter-lawrey opened #126 "Added a plain elastic on heap Bytes"
The previous implementation wrapped ByteBuffer making it more expensive than ideal.
This still exists for the cases when an underlying ByteBuffer is still needed.

[2020-06-23 01:37] Teh-Bobo opened #127 "Chronicle-Bytes Does Not Define an Automatic Module Name"
When using modular code (my project is in Java 14), I get the following error when compiling:

Adding the Automatic-Module-Name to the pom fixed the issue for me:

                <groupId>org.apache.felix</groupId>
                <artifactId>maven-bundle-plugin</artifactId>
                <extensions>true</extensions>
                <configuration>
                    <instructions>

[2020-06-23 11:17] dpisklov commented on #127
We don't support Java 14 (and other non-LTS versions). Currently the highest version we support is Java 11. Do you have this issue with Java 11?

[2020-06-23 13:00] Teh-Bobo commented on #127
Yes, I get the same message in Java 11. I believe it will happen with any Java 9+ project using modules. The automatic module name just gives the jar file a module name without having to convert the whole codebase to modules.

[2020-06-23 15:35] dpisklov commented on #127
So I assume it's a warning rather than error? Our main commercial clients are on Java 8 so we can't use Java9+ modules yet (unless we want to support diverging codebases for which we have no capacity), so we only fix errors but not warnings.

[2020-06-23 16:38] #127 closed

[2020-06-24 09:51] hft-team-city commented on #127
Released in [Chronicle-Bytes-2.19.46](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.19.46), [BOM-2.19.259](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.259)

[2020-06-26 06:02] JerryShea opened #128 "UnsafeText.appendDouble extra zeros"
@peter-lawrey one for you :)

[2020-06-26 15:37] #128 closed

[2020-07-06 08:48] minborg opened #129 "Add stack trace if ByteBuffer backed ByteStore ceases to be ByteBuffer backed"
Some times, said resize event is caused by erroneous code or data and it would be useful to be able to trace code better.

[2020-07-06 08:49] #129 closed

[2020-07-13 08:47] JerryShea opened #130 "Fix VanillaBytes.to8bitString for non-native bytes"

[2020-07-13 08:48] #130 closed

[2020-07-15 09:40] peter-lawrey opened #131 "Test extreme exponents from -308 to 308"
In extreme cases, the code would blow up or not parse.

[2020-07-15 09:42] #131 closed

[2020-07-25 21:55] jonross-st opened #132 "HexDumpBytes()'s writePosition returns stack-noise?"
kotlin code:

[code]
prints out "214748364817" ????

change the type of buf to `val buf = Bytes.allocateDirect( 1024 * 16)` and it prints out 17

here is the code for HexDumpBytes's writePosition(). I didn't take much time to understand the implemtation of this class, but at a casual glace this looks wrong-ish.

[code]

[2020-08-23 07:21] jonross-st opened #133 "MappedFile can not open a read-only file. Throws exception 100% of the time."
simple code

[code]
throws this exception

[code]

It seams that `ReadOnlyMappedByteStore` doesn't implement the acquireBytesForRead(), it lets the parent classes do that, all the way up to `ByteStore` which has this code

[code]

Which will fail 100% of the time as it's trying to create a bytesForWrite() on a readl-only store.

So, AFAICT there is no way to create a real-only memory mapped file u

[2020-08-24 14:48] dpisklov commented on #133
I assume the file doesn't exist prior to executing this code. If so it's expected behaviour - if you force read only mode, there's no way the file can be created and hence there's no file to map.

[2020-08-25 19:45] jonross09 commented on #133
I created a pull request that implements a unit test that shows the bug.

[2020-09-11 01:49] JerryShea commented on #73
@RobAustin why did we close with wontfix?

[2020-09-14 15:32] minborg opened #135 "Discarded without being released"
The following tests produce "Discarded without being released":

- [x] MappedUniqueMicroTimeProviderTest
- [x] NativeBytesStoreTest
- [x] MappedBytesTest
- [ ] MoreBytesTest

[2020-09-14 16:41] #135 closed

[2020-09-14 16:59] minborg opened #136 "Reduce test clutter"

[2020-09-15 11:16] #136 closed

[2020-09-15 12:35] hft-team-city commented on #136
Released in [Chronicle-Bytes-2.20.22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.22), [BOM-2.20.51](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.51)

[2020-09-15 12:36] hft-team-city commented on #135
Released in [Chronicle-Bytes-2.20.22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.22), [BOM-2.20.51](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.51)

[2020-09-18 15:08] #99 closed

[2020-09-18 15:24] #125 closed

[2020-09-18 15:25] #126 closed

[2020-09-18 17:08] hft-team-city commented on #126
Released in [Chronicle-Bytes-2.20.40](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.40), [BOM-2.20.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.60)

[2020-09-18 17:08] hft-team-city commented on #125
Released in [Chronicle-Bytes-2.20.40](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.40), [BOM-2.20.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.60)

[2020-09-18 17:08] hft-team-city commented on #99
Released in [Chronicle-Bytes-2.20.40](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.40), [BOM-2.20.60](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.60)

[2020-09-21 05:25] JerryShea opened #137 "Bytes.parseDouble does not respect readLimit"
for spaces prefix

[2020-09-21 07:42] peter-lawrey opened #138 "Two tests in BytesTest fail if assertions are off"
There are a couple of tests which fail when assertions are off.
Internally they expect an exception to be thrown which is not thrown when assertions are off.

[2020-09-21 08:24] peter-lawrey commented on #138
This change will have a small performance impact, but the impact of not having it is worse.

[2020-09-23 08:17] #138 closed

[2020-09-23 09:49] peter-lawrey commented on #109
This isn't simple to do the length of a UTF8 character varies and the number bytes to encode the length varies.
It's a much safer option to always ensure you have enough space.
Won't fix.

[2020-09-23 09:49] #109 closed

[2020-09-23 09:52] #137 closed

[2020-09-23 10:03] peter-lawrey commented on #80
I have added a fix for this, sorry about the long delay.

[2020-09-23 10:04] #80 closed

[2020-09-23 10:07] peter-lawrey commented on #115
Added a comment, that I saw this once coming out of the JVM.
I should have recorded it but I will leave it for now.

[2020-09-23 10:07] #115 closed

[2020-09-23 10:11] RobAustin opened #143 "PropertyReplacer to be changed to fail hard if is not all property tokens are substituted"
The net.openhft.chronicle.bytes.util.PropertyReplacer is used to replace tokens like ${<system.property>} in strings, these strings are typically used as YAML configuration in many of our applications, we should throw an exception if all the tokens are not substituted,  as users can easily miss configured the system properties leaving the application to continue on blindly ( with the wrong configu

[2020-09-23 10:16] peter-lawrey commented on #132
I have added come documentation as to why this is.In short it has to track the write position of the binary and text buffers so it put both into `long` For the binary write position use `buf.writePosition() & 0xFFFFFFFFL` for the text use `buf.writePosition() >>> 32`

[2020-09-23 10:16] #132 closed

[2020-09-23 10:23] peter-lawrey commented on #133
Thank you for reporting this. This has been fixed.

[2020-09-23 10:23] #133 closed

[2020-09-23 22:39] hft-team-city commented on #138
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #133
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #137
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #132
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #115
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #80
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-23 22:39] hft-team-city commented on #109
Released in [Chronicle-Bytes-2.20.43](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.43), [BOM-2.20.67](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.67)

[2020-09-29 21:40] jonross09 opened #139 "MappedFile / MappedBytes should set the file size to the writePosition() on close. Or give a option to set the underlaying RAF file size."
calling setLength() on the raf from the MappedFile throws a exception under windows, FYI.

It'd be nice to truncate the file to the usable data when closing it w/o having to keep a file handle around to the original file and fix it up after close.

[2020-09-30 04:38] jonross09 commented on #139
So after some research. this is a well-known issues w/ java and memory-mapped files.

It still would be nice if you'd do the unsafe / "cleaner" hack trick and attempt to set the correct size when shutting down.

[2020-10-05 12:28] minborg opened #140 "Add JavaDocs to the library"

[2020-10-05 22:38] JerryShea opened #141 "Bytes.elasticByteBuffer(int initialCapacity, int maxCapacity) - maxCapacity ignored"
Problem is with any method that calls `net.openhft.chronicle.bytes.NativeBytesStore#elasticByteBuffer(int, long)`

[2020-10-12 12:09] #141 closed

[2020-10-13 13:21] RobAustin opened #142 "Added unsafeReadObject(..) and unsafeWriteObject(..)"
If an object only contains primitives it is possible to copy and write that object using a memory copy, unsafeReadObject(..) and unsafeWriteObject(..) will add support for this in chronicle-bytes.

for example, to replace the following code:

[code]

[2020-10-13 15:54] #142 closed

[2020-10-14 08:46] JerryShea commented on #143
Can we throw an exception instead?

On Wed, 14 Oct 2020, 7:42 pm Rob Austin, <notifications@github.com> wrote:

[2020-10-14 16:18] RobAustin opened #144 "Fixed Bytes incorrectly allowing the write position to exceed the limit with out throwing an exception"
Native Bytes should throw an exception if the Limit is exceeded by the writePosition, unless you use unchecked(true)

[code]

[2020-10-14 16:54] RobAustin commented on #144
see net.openhft.chronicle.bytes.NativeBytesOverflowTest

[2020-10-14 16:58] #144 closed

[2020-10-14 17:36] hft-team-city commented on #144
Released in [Chronicle-Bytes-2.20.82](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.82), [BOM-2.20.112](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.112)

[2020-10-19 16:21] peter-lawrey opened #145 "Fixed bytesForRead() which returned a ByteStore with a MAX_VALUE limit."

[2020-10-21 08:03] #145 closed

[2020-10-21 16:40] hft-team-city commented on #145
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #144
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #141
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #142
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #138
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #137
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #135
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #136
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #133
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #131
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #132
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #130
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #129
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #127
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #128
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:40] hft-team-city commented on #126
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #125
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #123
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #124
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #122
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #121
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #120
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #118
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #117
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #115
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #116
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #114
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #113
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #112
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #110
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #111
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #109
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #108
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #106
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #105
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #103
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #102
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #101
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #100
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #99
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #98
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #97
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #88
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #84
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #85
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #83
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #82
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #80
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #81
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #79
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #78
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #76
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #77
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #75
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #72
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #74
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #71
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #70
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #69
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #67
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #68
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #66
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #65
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #63
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #64
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #61
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #59
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #57
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #58
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #56
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #50
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #52
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #49
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #48
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #47
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #45
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #46
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #44
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #43
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #38
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #37
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #35
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #36
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #34
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #33
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #31
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #29
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #27
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:41] hft-team-city commented on #21
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #18
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #19
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #17
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #13
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #5
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-21 16:42] hft-team-city commented on #4
Released in [Chronicle-Bytes-2.20.101](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.101), [BOM-2.20.134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.134)

[2020-10-27 12:49] #143 closed

[2020-10-27 13:04] RobAustin opened #146 "PropertyReplacer to support spaces around the brackets"
The PropertyReplacer looks for

[code]

the problem is, that if you format the YAML using idea's built-in formatter, then it changes your YAML to
[code]

note: the difference is, spaces either side of the `<token>`

This issue is to change the behaviour to accept tokens with starting and ending spaces as the same, in other words, to assume that the following match:
[code]

[2020-10-27 13:11] RobAustin commented on #139
Chronicle-Queue does this already, could you use the net.openhft.chronicle.queue.impl.single.QueueFileShrinkManager from chronicle queue. I'm going to close this issue for now. Please reopen this if it did not work for you.

[2020-10-27 13:11] #139 closed

[2020-10-27 13:57] glukos commented on #146
The easiest way to achieve this is to consume arbitrary number of leading/trailing brackets inside the spaces.
So, not only
[code]
will be true, but
[code]
as well.

I guess nobody intends to use property names with leading/trailing spaces on purpose, so it should be fine.

[2020-10-27 14:01] #146 closed

[2020-10-27 14:21] dpisklov commented on #146
I suggest using \s instead of just space. This will cover tabs too for the cases where people use tabs for formatting.

[2020-10-27 15:10] glukos commented on #146
@dpisklov Sure, thanks. I've pushed corresponding change

[2020-10-27 17:54] jonross-st commented on #139
I'm not using Chronicle-Queue, and it isn't imported into my project. I'm just using Chronice-Bytes.

So what are my options?

[2020-10-27 18:02] dpisklov commented on #139
You can basically reimplement what `QueueFileShrinkManager` does:

[code]

[2020-10-28 17:46] lucasamoroso opened #147 "Java 11 - Compatibilty issues with latin characters"
Hi!

I'm trying to update from `net.openhft.chronicle-queue-5.19.1` to `net.openhft.chronicle-queue-5.20.103` and there is an issue running with java 11 (**with java 8 works fine**).  The issue seems to be related with encoding when an special character like `´` is written.

To reproduce it:

[code]

The exception is:

[code]

I also did another test, this dependency is needed ```"com.fasterxml.ja

[2020-10-29 00:21] hft-team-city commented on #146
Released in [Chronicle-Bytes-2.20.102](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.102), [BOM-2.20.142](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.142)

[2020-10-29 00:21] hft-team-city commented on #143
Released in [Chronicle-Bytes-2.20.102](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.102), [BOM-2.20.142](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.142)

[2020-10-29 19:00] jonross-st commented on #139
that worked great. thanks!

[2020-11-05 18:22] #147 closed

[2020-11-06 09:46] peter-lawrey opened #148 "Use HeapByteStore for BytesStore.from(CharSequence)"

[2020-11-06 09:47] #148 closed

[2020-11-06 13:10] hft-team-city commented on #148
Released in [Chronicle-Bytes-2.20.104](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.104), [BOM-2.20.153](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.153)

[2020-11-13 17:24] RobAustin opened #149 "mappedBytes: better protection when the disk is full"
Currently, if the disk is full, we allow the mapped bytes to be created, then crash the JVM with an hs_err_file if we attempt to access the mapped bytes ( see below which was run on a mount which had a full disk )

Ideally, users should never run the code on a system with a full disk, however, The problem about crashing the JVM is it makes diagnosing what caused the crash rather difficult as it is

[2020-11-23 16:23] RobAustin opened #150 "Ensure copy memory throws null pointer exception after close()"

[2020-11-23 16:44] #150 closed

[2020-11-24 13:27] hft-team-city commented on #150
Released in [Chronicle-Bytes-2.20.105](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.105), [BOM-2.20.176](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.176)

[2020-11-27 21:02] hpple opened #152 "Support for garbage-free collection field deserialization"
Hi!

I'm interested in garbage-free implementation of `BytesMarshallable.readMarshallable(BytesIn)` for marshallable objects with collection fields.

Currently, I have a class (e.g. `MyMarshallable extends BytesInBinaryMarshallable`) with the `List<MyOtherMarshallable>` field and as far as I can see the `BytesMarshaller.CollectionFieldAccess` will be used for this field. During read routine, `Coll

[2020-12-02 03:12] JerryShea opened #153 "Deprecate MethodWriterBuilder.useMethodIds(boolean) for removal"
@peter-lawrey this method originally authored by you

[2020-12-09 10:46] peter-lawrey opened #156 "Ensured UncheckedNativeBytes performsRelease in the background to stop usage after release."

[2020-12-09 10:52] #156 closed

[2020-12-10 17:38] hft-team-city commented on #156
Released in [Chronicle-Bytes-2.20.107](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.107), [BOM-2.20.201](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.201)

[2020-12-10 20:01] dpisklov commented on #152
@RobAustin please assign as appropriate

[2020-12-16 06:20] JerryShea opened #157 "race condition BackgroundResourceReleaser vs Finalizer?"
From customer log
[code]

Would be good if we could see the type of the referent

[2020-12-16 07:40] peter-lawrey commented on #157
In this case, the type its complaining about is MappedBytes.
It would be helpful to enable resource tracing to determine why this happened.

[2020-12-16 07:59] peter-lawrey commented on #157
See also https://github.com/OpenHFT/Chronicle-Core/issues/173

[2020-12-17 16:55] dpisklov opened #158 "NativeBytes: prewrite doesn't perform resize if current write position is beyond the realCapacity"

[2020-12-17 16:56] #158 closed

[2020-12-17 17:26] hft-team-city commented on #158
Released in [Chronicle-Bytes-2.20.111](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.20.111), [BOM-2.20.210](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.20.210)

[2021-01-20 13:04] peter-lawrey commented on #153
Yes, perhaps we need more demos.
@JerryShea  Are you suggesting we should just use them if they have been set?

[2021-01-20 13:05] peter-lawrey commented on #149
Agreed we should have a better accounting of disk usage to prevent this.

[2021-01-20 22:16] JerryShea commented on #153
@peter-lawrey if we choose to keep it, we should make it true by default IMHO

I am questioning what is the use for it. Why would we want to turn off using methodIds?

[2021-01-21 09:38] kailash-katharine commented on #140
Please clarify how I can help here. Thank you :)

[2021-01-21 10:19] minborg commented on #140
So, the library does not have standard JavaDocs for most methods. I started to refactor core including documenting it but there were other issues with higher priority.

I think a good start would be to copy the JavaDocs I made in the feature branch https://github.com/OpenHFT/Chronicle-Core/blob/feature/managedapi/src/main/java/net/openhft/chronicle/core/Jvm.java (if I remember correctly, only this

[2021-01-21 10:59] RobAustin commented on #140
@kailash-katharine for the moment, please treat this issue as a low priority.

[2021-01-21 10:59] kailash-katharine commented on #140
So this class has changed _significantly_ since the javadocs in the link were added, and there are now some javadocs in the up to date version too. I'm not sure if a copy/paste is going to be useful in this case.

[2021-01-25 12:35] peter-lawrey opened #161 "Improved error messages for Bytes.write"

[2021-01-25 13:33] #161 closed, assigned to peter-lawrey

[2021-01-25 14:05] peter-lawrey opened #162 "Remove a copy from queue to TCP buffer from the Source"

[2021-01-25 14:59] peter-lawrey commented on #153
@JerryShea  It was used to programmatically run the same benchmark with and without methodIds however for the purpose of this benchmark we could just duplicate the interface.

[2021-01-25 15:14] peter-lawrey commented on #153
There are two examples where an extended interface can be used to select whether @MethodIds should be used if you need it to be switchable. The public one is

https://github.com/OpenHFT/Chronicle-Queue/blob/ea/src/test/java/net/openhft/chronicle/queue/internal/reader/ChronicleHistoryReaderTest.java

[2021-01-25 17:38] #153 closed

[2021-01-25 17:58] hft-team-city commented on #161
Released in [Chronicle-Bytes-2.21ea2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea2), [BOM-2.21ea25](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea25)

[2021-01-25 18:40] hft-team-city commented on #161
Released in [Chronicle-Bytes-2.21ea2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea2), [BOM-2.21ea26](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea26)

[2021-01-25 18:48] hft-team-city commented on #161
Released in [Chronicle-Bytes-2.21ea2](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea2), [BOM-2.21ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea27)

[2021-01-26 03:47] JerryShea opened #163 "StreamingDataInput#read(net.openhft.chronicle.bytes.Bytes, int) silently truncates if readRemaining() < len"
Shouldn't we throw?

[2021-01-26 03:48] JerryShea commented on #161
See also https://github.com/OpenHFT/Chronicle-Bytes/issues/163

[2021-01-26 09:32] peter-lawrey opened #164 "Added a MappedUniqueTimeProvider which can be called many millions of times per second"

[2021-02-04 10:28] ikorennoy opened #165 "Correct way to read a file"
Hello! I apologize for my question here not on stackoverflow. I tried to find the answer in unit tests but I could not. And without any guide it's very difficult to understand how to

Could you please tell me or give me some example of proper way to read file with utf8 text line by line? The line length is not known

Now I use the next approach: I map the file using `channel.map(FileChannel.MapMod

[2021-02-08 14:05] peter-lawrey opened #166 "Add selected unchecked exceptions to the throws clause"

[2021-02-08 16:09] #166 closed, assigned to peter-lawrey

[2021-02-08 16:12] peter-lawrey opened #167 "Javadoc the difference between read(Bytes) and write(ByteStore)"
These methods look the same except,

- `read(Bytes)` will only read as much data as is available to read and the `Bytes` has the capacity to write. It changes the read/write position of both buffers
- `write(BytesStore)` must write all the data or it throws a BufferOverflowException, only the read position is altered.

[2021-02-08 16:59] #167 closed, assigned to peter-lawrey

[2021-02-08 22:26] JerryShea commented on #164
@peter-lawrey I believe this is done so closing

[2021-02-08 22:26] #164 closed, assigned to peter-lawrey

[2021-02-08 22:27] JerryShea commented on #163
@peter-lawrey you have fixed this with documentation in #167 ?

[2021-02-08 22:30] JerryShea commented on #162
Closing as duplicate

[2021-02-08 22:30] #162 closed, assigned to peter-lawrey

[2021-02-09 16:30] peter-lawrey opened #168 "Added limited support for trivially copyable objects with some transient/reference fields"

[2021-02-09 16:31] #168 closed, assigned to peter-lawrey

[2021-02-10 07:04] hft-team-city commented on #168
Released in [Chronicle-Bytes-2.21ea6](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea6), [BOM-2.21ea47](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea47)

[2021-02-16 16:23] peter-lawrey opened #169 "Improve handling of MappedBytes.writeSkip for sizes larger than 2 GB."

[2021-02-16 16:24] #169 closed, assigned to peter-lawrey

[2021-02-18 06:37] JerryShea opened #170 "trivially copyable when base class has a non-primitive field"

[2021-02-18 06:39] JerryShea commented on #170
one for you @peter-lawrey

[2021-02-23 13:32] peter-lawrey opened #171 "Cache the MappedFile size to reduce the impact of checking the capacity"

[2021-02-23 13:35] #171 closed, assigned to peter-lawrey

[2021-02-23 22:17] JerryShea commented on #170
Fixed now I believe

[2021-02-23 22:17] #170 closed, assigned to nobody

[2021-02-25 02:30] hft-team-city commented on #171
Released in [Chronicle-Bytes-2.21ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea12), [BOM-2.21ea63](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea63)

[2021-02-25 02:30] hft-team-city commented on #170
Released in [Chronicle-Bytes-2.21ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea12), [BOM-2.21ea63](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea63)

[2021-03-15 13:21] peter-lawrey opened #172 "Some tests fail on Apple M1"

[2021-03-16 11:42] peter-lawrey opened #173 "Added EmbeddedBytes for Trivially Copyable data transfer objects"

[2021-03-16 12:04] peter-lawrey commented on #173
@rogersimmons to review

[2021-03-16 22:58] JerryShea opened #174 "Bytes.append(double, int dps) rounding"
see unit test in attached commit

[2021-03-16 23:08] rogersimmons commented on #174
A possible concern with always rounding up if the clipped part is exactly 5 is that it introduces a net positive bias.

A common alternative is to round up or down depending on the value of the (retained) digit before the 5 (eg odd digits round up, evens round down) as this pulls the bias towards 0.

It could be useful to have this configurable, but the default should likely be a similar form of f

[2021-03-16 23:37] JerryShea commented on #174
@rogersimmons yes absolutely. In this case (having reviewed the example again), `Bytes.append(double, precision)` is giving the same results as `Maths.roundN(double, precision)` which is `64.550198` and that is because
[code]
and the 4999 is rounded towards zero

[2021-03-16 23:52] JerryShea commented on #174
Just to remind me what the various rounding modes give
[code]
CEILING & UP give same result as HALF_UP

[2021-03-18 10:39] peter-lawrey commented on #174
I have changed the behaviour of `BytesStringAppender.append(double value, int digits)` to behave as `Maths.roundNup` rather than `Maths.roundN` There is a notional performance impact of fewer than 6 ns, however, this is expected behaviour.

See https://github.com/OpenHFT/Chronicle-Core/issues/212 for more details and tests

[2021-03-18 10:39] #174 closed, assigned to peter-lawrey

[2021-03-19 16:14] peter-lawrey opened #175 "PointerBytesStore shouldn't place limits on capacity."

[2021-03-19 16:15] #175 closed, assigned to peter-lawrey

[2021-03-21 11:05] #173 closed, assigned to peter-lawrey

[2021-03-30 15:31] minborg opened #176 "StopBits failing"
The stop bits fails as demonstrated by the following test:

[code]

[2021-03-31 06:38] RobAustin commented on #176
@minborg please prioritise as this relates to support issue https://support.chronicle.software/staff/ticket/48#340

Thanks.

[2021-03-31 13:05] minborg opened #177 "Rework BytesMarshaller.FieldAccess"
Remove the unused type `<T>` and fix the `CollectionFieldAccess` constructor which is obviously not correct as the last `else` with `newInstance)` is wrong.

[2021-03-31 14:45] minborg opened #178 "BytesTest::testParseUtf8High fails"
I have strengthened the `BytesTest::testParseUtf8High` test. Examine why it fails for code `65503`

[2021-03-31 15:06] minborg opened #179 "NativeBytesTest::testAppendCharArrayNonAscii fails"
The `NativeBytesTest::testAppendCharArrayNonAscii` fails if the actual content of the `Bytes` is asserted by `assertEquals("Δ", b.toString());`

[2021-04-01 12:49] #176 closed, assigned to minborg

[2021-04-02 00:35] JerryShea commented on #176
I believe that the regression was introduced in https://github.com/OpenHFT/Chronicle-Bytes/commit/420ea2a65d88fc2661a898a5bd25ff7b4efb1a27 and released in bytes 2.21ea13 chronicle-bom-2.21ea75

[2021-04-02 09:22] minborg commented on #172
Fixed by the merge of https://github.com/OpenHFT/Chronicle-Bytes/tree/issue/macm1

[2021-04-02 09:22] #172 closed, assigned to minborg

[2021-04-06 02:52] JerryShea opened #180 "Fix TriviallyCopyable when fieldGroup in base class"

[2021-04-06 02:54] #180 closed, assigned to nobody

[2021-04-09 10:01] RobAustin opened #181 "Document the ByteStore vs Bytes abstraction"
please document the reason for the "ByteStore vs Bytes abstraction. At a casual glance, they both implement the Bytes interface. What’s the abstraction for, and how should we prefer one over the other."

[2021-04-09 10:14] RobAustin commented on #181
somewhat of an answer is below: ( please illustrate this with an example )

In summary, you can have a Bytes per thread, each thread has its own read position, read limit, write position write limit, but they use the same underlying net.openhft.chronicle.bytes.BytesStore. Allowing multiple threads to read the same data, but each thread with its own cursor, to a shared data structure, Hence you sho

[2021-04-09 10:49] RobAustin opened #182 "Document the difference between bytesForRead() and bytesForWrite()"
Question: What’s the difference between bytesForRead() and bytesForWrite(). The interfaces they return barely differ at all. Both have all the write methods on them, and  they seem to work so bytesForRead() doesn’t seem to be handing back a read-only buffer.

Answer:

Yes, they are essentially the same, the only difference is to do with the read position and write positions, when you call bytes. b

[2021-04-12 13:47] peter-lawrey opened #183 "Optimise writeStopBit(char) for high values"

[2021-04-12 13:48] peter-lawrey commented on #183
Values (char) -127 to (char) -1 can be treated as signed values reducing their size from 3 bytes to 2.

[2021-04-12 13:49] peter-lawrey commented on #183
(char) -1 is used in FIX for unset characters

[2021-04-12 13:49] #183 closed, assigned to peter-lawrey

[2021-04-12 14:52] peter-lawrey opened #184 "Optimise for null String and Bytes"
Bytes wasn't optimized for having lots of null values for read8bit Bytes and Strings.
These were slower than reading a 1 character string as a result.

C.F. #183

[2021-04-12 15:36] #184 closed, assigned to peter-lawrey

[2021-04-12 23:53] JerryShea commented on #183
@peter-k-lawrey is this forwards/backwards compatible with existing serialised data?

[2021-04-13 11:19] hft-team-city commented on #183
Released in [Chronicle-Bytes-2.21ea44](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea44), [BOM-2.21ea110](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea110)

[2021-04-13 11:19] hft-team-city commented on #184
Released in [Chronicle-Bytes-2.21ea44](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea44), [BOM-2.21ea110](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea110)

[2021-04-13 13:34] minborg opened #185 "capacity() and writeLimit() differs in new Bytes object"
As indicated by `BytesTest::capacityVsWriteLimitInvariant` and `BytesTest::isClear`

[2021-04-15 08:55] minborg opened #186 "Segmentation fault using ByteStore operations"
The following test produces a segmentation fault:

[code]

[hs_err_pid89308.log](https://github.com/OpenHFT/Chronicle-Bytes/files/6316541/hs_err_pid89308.log)

[2021-04-15 10:22] minborg opened #187 "Add address checking using assert"
Many memory abstractions, for example, `HeapBytesStore`, lacks address range checking. We should add assertions to these accessors to be able to capture potential problems at least when running tests.

[2021-04-15 10:23] minborg commented on #187
We should also add documentation that states that these objects are unsafe to use.

[2021-04-15 13:34] minborg commented on #186
Related to #187

[2021-04-16 09:02] peter-lawrey commented on #187
`HeapByteStore` is intended to be wrapped using `Bytes`.
For this reason, it probably shouldn't be public, however extra bounds checks should be redundant.
Can you confirm if there are any cases where these bounds can be exceeded via one of the Bytes.

NOTE: The use of off-heap memory has the same level of protection.

[2021-04-16 09:03] peter-lawrey commented on #186
These classes should really only be used if you know what you are doing. i.e. probably should have been internal.

[2021-04-16 09:04] peter-lawrey commented on #186
Can we mark all BytesStore to move to internal in the next version x.22

[2021-04-16 09:08] peter-lawrey commented on #187
Covered by #186

[2021-04-16 09:09] peter-lawrey opened #188 "Improve performance of read8bit/write8bit"
Currently, these are slower than readUtf8/writeUtf8 as they haven't been as optimized.

[2021-04-16 09:23] #186 closed, assigned to peter-lawrey

[2021-04-16 09:23] #185 closed, assigned to peter-lawrey, peter-k-lawrey

[2021-04-16 09:46] peter-lawrey commented on #179
Extended the test for a couple of different UTF8 decoding methods.

[2021-04-16 09:46] #179 closed, assigned to minborg

[2021-04-16 09:47] #178 closed, assigned to minborg

[2021-04-16 14:03] minborg commented on #187
See the `feature/assertions` of cases where there is an out-of-bounds use via a back-door.

[2021-04-16 14:04] minborg commented on #187
I think we should add assert protection on all unprotected memory models. This would allow us to pick up errors not only in the Bytes library but in others as well. This will have zero performance cost.

[2021-04-16 14:05] minborg commented on #187
I have created a convenience class for easy bounds checking with assert. See the branch

[2021-04-16 14:30] peter-lawrey commented on #188
A direct comparison of read8bit/write8bit with readUtf8/writeUrf8 showed that 8 bit was faster as expected, further investigation is needed.

[2021-04-16 14:39] #181 closed, assigned to foroughgoudarzi

[2021-04-19 03:19] hft-team-city commented on #186
Released in [Chronicle-Bytes-2.21ea45](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea45), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:19] hft-team-city commented on #181
Released in [Chronicle-Bytes-2.21ea45](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea45), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:19] hft-team-city commented on #185
Released in [Chronicle-Bytes-2.21ea45](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea45), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:19] hft-team-city commented on #178
Released in [Chronicle-Bytes-2.21ea45](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea45), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 03:19] hft-team-city commented on #179
Released in [Chronicle-Bytes-2.21ea45](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea45), [BOM-2.21ea113](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea113)

[2021-04-19 13:27] peter-lawrey opened #189 "parseFloat and parseDouble returns -0.0 when no digits are present."

[2021-04-19 13:28] #189 closed, assigned to peter-lawrey

[2021-04-19 15:12] peter-lawrey opened #190 "parseLong, parseLongDecimal, parseFloat and parseDouble to set lastNumberHasDigits() if it had any digits"

[2021-04-19 16:06] #190 closed, assigned to peter-lawrey

[2021-04-20 09:20] #182 closed, assigned to foroughgoudarzi

[2021-04-20 09:30] peter-lawrey opened #191 "Added support for lock/tryLock to the underlying file channel for AbstractReference"

[2021-04-20 13:17] #191 closed, assigned to peter-lawrey

[2021-04-22 11:52] RobAustin commented on #149
@peter-lawrey  just pointing you at this as I know that you are working on mapped bytes at the moment.

[2021-04-22 11:53] hft-team-city commented on #190
Released in [Chronicle-Bytes-2.21ea46](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea46), [BOM-2.21ea114](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea114)

[2021-04-22 11:53] hft-team-city commented on #191
Released in [Chronicle-Bytes-2.21ea46](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea46), [BOM-2.21ea114](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea114)

[2021-04-22 11:53] hft-team-city commented on #182
Released in [Chronicle-Bytes-2.21ea46](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea46), [BOM-2.21ea114](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea114)

[2021-04-22 11:53] hft-team-city commented on #189
Released in [Chronicle-Bytes-2.21ea46](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea46), [BOM-2.21ea114](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea114)

[2021-04-23 06:56] minborg opened #192 "ARMMemory initialization might cause deadlock"
Referencing the subclass `ARMMemory` from its superclass `UnsafeMemory` initializer might lead to class loading deadlock.

I suggest moving `ARMMemory` to a separate (internal) class.

[2021-05-05 00:30] jkolobok opened #193 "Add a test"
Add a test to Chronicle-Bytes for this use case e.g.

        final String SYMBOL_STR = "LCOM1";
        final Bytes SYMBOL = Bytes.allocateDirect(SYMBOL_STR.length());
        SYMBOL.clear();
        SYMBOL.append(SYMBOL_STR);

[2021-05-13 09:53] peter-lawrey opened #195 "Improve performance for on heap memory copies."

[2021-05-13 10:03] #195 closed, assigned to nobody

[2021-05-13 10:39] peter-lawrey commented on #188
To get reliable results for this we may need to use a C library.

[2021-05-17 19:58] #193 closed, assigned to jkolobok

[2021-05-17 20:06] hft-team-city commented on #195
Released in [Chronicle-Bytes-2.21ea48](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea48), [BOM-2.21ea131](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea131)

[2021-05-17 20:06] hft-team-city commented on #193
Released in [Chronicle-Bytes-2.21ea48](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea48), [BOM-2.21ea131](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea131)

[2021-05-18 11:15] glukos opened #196 "Error when readMarshallable is called on instance with null collection field"
S2R:
1. Prepare a BytesMarshallable class where collection field is not initialzed when default constructor is called
2. Create instance of this class, initialize a collection field with non-empty collection
3. Serialize it with writeMarshallable
4. Deserialize it with readMarshallable

Result:
[code]

[2021-05-19 00:41] #196 closed, assigned to glukos

[2021-05-19 08:38] hft-team-city commented on #196
Released in [Chronicle-Bytes-2.21ea49](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea49), [BOM-2.21ea134](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea134)

[2021-05-20 01:20] jkolobok opened #197 "Add peekByte/peekInt...Long/etc methods to Bytes"

[2021-05-21 08:19] peter-lawrey opened #198 "MappedBytesTest.shouldBeReadOnly fails in teamcity"
It passes locally on ubuntu and windows.

[2021-05-21 09:29] peter-lawrey commented on #198
This was a file permissions problem on the build server.

[2021-05-21 09:29] #198 closed, assigned to peter-lawrey

[2021-06-03 15:52] RobAustin commented on #188
I assume this can now be closed

[2021-06-03 15:52] #188 closed, assigned to peter-lawrey

[2021-06-03 22:03] #197 closed, assigned to jkolobok

[2021-06-07 05:46] nicktindall opened #199 "Appending some really small doubles throws an ArrayIndexOutOfBoundsException"
From a client:

[2021-06-07 11:07] peter-lawrey commented on #199
Agree that this doesn't make sense.

[2021-06-10 23:36] JerryShea commented on #199
This fix ([in core](https://github.com/OpenHFT/Chronicle-Core/commit/08da4db739bc3832a17ff6681e1b705f2b7f6b0a)) was released in bom 2.21ea65

[2021-06-11 11:57] peter-lawrey commented on #199
The Native allocater has an implementation which fails this test.

[2021-06-11 11:57] #199 closed, assigned to peter-lawrey

[2021-06-15 09:13] JerryShea opened #200 "BytesStore factory methods"
NativeBytesStore (and others) has been deprecated and so methods like
[code]
Should at least be wrapped by equivalent methods on BytesStore.

[2021-06-16 14:32] peter-lawrey commented on #163
Read only reads as much as possible.

[2021-06-16 14:32] #163 closed, assigned to peter-lawrey

[2021-06-16 14:34] peter-lawrey commented on #165
I suggest using `BufferedReader` with UTF_8 encoding unless you have a specific reason to use a memory mapped file.

[2021-06-16 14:34] #165 closed, assigned to peter-lawrey

[2021-06-16 14:35] peter-lawrey commented on #177
The `<T>` type seems to have been removed.

[2021-06-16 14:35] #177 closed, assigned to minborg

[2021-06-16 14:36] peter-lawrey commented on #187
@minborg I have seen you added some checks, is there anything more to do.

[2021-06-16 14:37] peter-lawrey commented on #200
@JerryShea Can we close this?

[2021-06-16 23:02] #200 closed, assigned to nobody

[2021-06-17 12:16] minborg commented on #187
Yes, there are many places we could add checking. I could take a swing at it.

[2021-06-17 12:18] minborg commented on #187
When I added some asserts when doing the initial checks (which we rolled back because they were not for free at that time), I uncovered some potential problems. I think this is worth revisiting.

[2021-06-22 11:28] peter-lawrey opened #201 "Added an example of a C-Struct with a linked list and a lock in native memory"

[2021-06-22 11:33] #201 closed, assigned to peter-lawrey

[2021-06-23 05:09] nicktindall opened #202 "unsafeReadObject for on-heap bytes reads bytes twice when `length % 8 >= 4`"
When `StreamingDataInput#unsafeReadObject` reads bytes it doesn't increment the pointer when it reads an int-sized chunk

[2021-06-23 07:53] #202 closed, assigned to nicktindall

[2021-06-23 08:49] hft-team-city commented on #202
Released in [Chronicle-Bytes-2.21ea65](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21ea65), [BOM-2.21ea182](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21ea182)

[2021-06-25 11:39] peter-lawrey commented on #157
I have changed support threads to be more tolerant of releasing resources which have already been released. c.f. `Jvm.supportThread()`

[2021-06-25 11:39] #157 closed

[2021-07-02 08:38] peter-lawrey opened #203 "UTF8 vs ASCII 8bit encoding performance issues."
The encoding/decoding for ASCII and UTF8 show small but annoying performance differences which shouldn't exist and are not consistent from one run of the JVM to another. This makes performance regression tests hard to implement.

[2021-07-13 11:30] peter-lawrey opened #204 "Reduce direct usage of Deprecated classes"

[2021-07-13 12:07] #204 closed, assigned to peter-lawrey

[2021-07-30 15:55] RobAustin opened #205 "Provide a property configurable <size> to BytesInternal.SI = new StringInternerBytes(<size>)"

[2021-07-30 16:03] #205 closed, assigned to RobAustin

[2021-08-09 00:52] JerryShea opened #206 "StructTest.createStudents test failing on ARM in TeamCity"
Since https://github.com/OpenHFT/Chronicle-Bytes/commit/5e3d9b134ad768f43f572c5564e0c12224c94401

[2021-08-09 07:32] rogersimmons commented on #206
32 bit vs 64 bit

[2021-08-09 07:32] #206 closed, assigned to nobody

[2021-08-10 07:06] JerryShea opened #207 "Trivially copyable not supported on Zing - throw UnsupportedOperationException"
2 tests are consistently failing:

* `BytesUtilTest.triviallyCopyable2 net.openhft.chronicle.bytes`
* `BytesFieldInfoTest.lookup net.openhft.chronicle.bytes.internal`

@peter-k-lawrey if you don't get the chance to look today I can fix tomorrow

[2021-08-10 15:19] peter-lawrey opened #208 "To improve Chronicle Map startup performance, don't touch pages full of zeros already"

[2021-08-12 01:10] #207 closed, assigned to peter-lawrey

[2021-08-20 15:33] peter-lawrey opened #209 "Remove members marked for deprecation in x.22"

[2021-08-23 15:13] #209 closed, assigned to peter-lawrey

[2021-08-24 07:31] minborg opened #210 "Add features to support NativeBytesStore being internalized"
- [x] Static constructor

Libraries like Salt is creating native BytesStore instances. It would be good if we add a static method:

`NativeStore.nativeBytesStore(CharSequence text) that would just delegate to `net.openhft.chronicle.bytes.internal.NativeBytesStore.from(text)`, This way, we can easily create such instances without referring to internal classes.

- [ ] Trait for NativeBytesStore

In

[2021-08-24 07:41] minborg commented on #210
`NativeUninitializable` could also include the `init()` method and so, it should be called something else like `NativeInitializable`

[2021-08-24 07:42] JerryShea commented on #210
Yep we already have e.g. `net.openhft.chronicle.bytes.BytesStore#nativeStore` i.e. BytesStore has static factory methods

[2021-08-24 12:24] RobAustin opened #211 "Flaky test MappedUniqueTimeProviderTest"
see https://teamcity.chronicle.software/buildConfiguration/OpenHFT_ChronicleBytes_Sonar/600494?

[2021-08-24 13:41] minborg opened #212 "Segmentation fault or silent memory error for certain edge cases involving pointer arithmetics"
When arithmetic is performed on integers, the result will always be an integer. Some memory address calculations are internally performed with `int` precision whereby the result might overflow and create negative int values. These values are later added to a base pointer of type long, which may lead to segmentation faults or even worse, silently writing to a random memory location.

[2021-08-24 16:14] #212 closed, assigned to minborg

[2021-08-26 10:43] peter-lawrey opened #213 "AbstractReference to hold reference to underlying BytesStore to reduce churn esp. MappedBytes"

[2021-08-26 10:51] #213 closed, assigned to peter-lawrey

[2021-09-16 13:41] peter-lawrey opened #214 "Refactor Mapped* classes to support an alternative implementation"

[2021-09-16 14:40] #214 closed, assigned to peter-lawrey

[2021-09-17 10:04] peter-lawrey opened #215 "Fix inconsistencies in how MappedFiles are cleaned up"

[2021-09-21 16:14] alamar opened #216 "Mapped* classes refactoring breaks FIX test Tag122OnResendMsgTest"
Changes in #214 changes the behavior of Tag122OnResendMsgTest. It needed to be updated but still fails when run from IDE.

I'm not sure that any change of behavior is expected by this refactoring.

See ChronicleEnterprise/Chronicle-FIX#773

[2021-09-21 16:23] alamar commented on #216
e50cdd1f7c3c6f871e016debd5f9b0881cc7a032 is last good commit

28fc636c9d258a9eae3148741603db7f5c027e51 is a bad commit, but it has several WIP ones before it.

[2021-09-22 12:59] peter-lawrey opened #217 "Improve determinism of MappedBytes cleanup"

[2021-09-23 02:18] JerryShea opened #218 "BytesFieldInfoTest failure java 17"
See https://teamcity.chronicle.software/buildConfiguration/OpenHFT_BuildAll_BuildJava17/612006?logFilter=debug

[code]

[2021-09-23 04:15] hft-team-city commented on #214
Released in [Chronicle-Bytes-2.22ea3](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea3), [BOM-2.22ea23](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea23)

[2021-09-23 10:05] alamar commented on #216
@peter-lawrey can you please check it out? I will set you an assignee so that you don't miss it. Please do not hesitate to bounce it back if not relevant.

[2021-09-23 15:00] #217 closed, assigned to peter-lawrey

[2021-09-23 15:01] peter-lawrey opened #219 "MappedByteStore to use one bytesStore field instead of two."

[2021-09-23 15:01] #219 closed, assigned to peter-lawrey

[2021-09-24 10:16] peter-lawrey opened #220 "Improve consistency for released HeapBytesStore"

[2021-09-27 09:44] JerryShea commented on #218
field layout changed with Java 15 - https://bugs.openjdk.java.net/browse/JDK-8237767

[2021-09-27 09:44] #218 closed, assigned to JerryShea

[2021-09-29 09:18] #220 closed, assigned to peter-lawrey

[2021-09-29 09:18] #215 closed, assigned to peter-lawrey

[2021-09-29 09:18] #210 closed, assigned to peter-lawrey, minborg

[2021-09-29 15:37] minborg opened #221 "Depend on java-parent-pom 1.1.28"

[2021-09-29 15:38] #221 closed, assigned to nobody

[2021-09-29 15:53] minborg opened #222 "Fail to build under Java17"
[code]

[2021-09-30 00:29] JerryShea commented on #222
If you build with Java 8 and run with `mvn surefire:test -Pjava11,java17 -Dtest=UnsafeRWObjectTest` then it works OK

[2021-09-30 06:10] minborg commented on #222
Yes. I built it under Java17 and then tested it. Still, it might point to a real problem and I think it's worth investigating.

[2021-10-07 20:07] glukos opened #223 "Introduce flexible long parsing that allows scientific format"

[2021-10-08 11:49] hft-team-city commented on #214
Released in [Chronicle-Bytes-2.22ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea5), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #219
Released in [Chronicle-Bytes-2.22ea4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #220
Released in [Chronicle-Bytes-2.22ea4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #217
Released in [Chronicle-Bytes-2.22ea3](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea3), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #218
Released in [Chronicle-Bytes-2.22ea4](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea4), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #214
Released in [Chronicle-Bytes-2.22ea3](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea3), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 11:49] hft-team-city commented on #215
Released in [Chronicle-Bytes-2.22ea3](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea3), [BOM-2.22ea29](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea29)

[2021-10-08 14:21] glukos commented on #223
Merged to ea, but not closed for some reason https://github.com/OpenHFT/Chronicle-Bytes/commit/d4042fe9dcb5c2f2326756f026f46f57b181af2e

[2021-10-08 14:21] #223 closed, assigned to glukos

[2021-10-11 13:33] alamar commented on #216
I'm no longer able to reproduce the failure on chronicle-fix-4.22ea6

[2021-10-12 08:51] peter-lawrey opened #225 "Add a unit test for trailing zeros for Bytes.append(double)"

[2021-10-12 09:20] peter-lawrey commented on #225
Follows https://github.com/OpenHFT/Chronicle-Wire/issues/299

[2021-10-12 09:20] #225 closed, assigned to peter-lawrey

[2021-10-12 23:17] JerryShea opened #226 "Bytes.writeSkip should be able to accept -ve numbers"
Customer has reported that MappedBytes.writeSkip used to accept negative numbers but that between bytes 2.20.82 -> 2.21ea61 it has been changed to throw an exception if you give it a negative number.

We call Bytes.writeSkip with a -ve number in a number of places in our codebase so this has to be classed as a bug.

We need to update tests and javadoc for this and readSkip too.

[2021-10-14 12:44] hft-team-city commented on #207
Released in [Chronicle-Bytes-2.21.90](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21.90), [BOM-2.21.238](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.238)

[2021-10-21 01:16] JerryShea opened #228 "Improve Javadoc for Bytes.write methods"
Following a customer query, we should improve documentation for these methods - in relation to how readPosition() and writePosition() are treated. When we specify the writeOffset, the writePosition() will not be changed, and likewise for readOffset.

i.e. in RandomDataOuput:
[code]

Related to #140

[2021-10-21 02:43] #228 closed, assigned to JerryShea

[2021-10-21 08:48] minborg opened #230 "Remove unsafe method UncheckedBytes::write"
Currently, this method looks like this:

[code]

but it is more likely that it should be like this:

[code]

[2021-10-22 11:26] minborg opened #235 "Update to latest maven plugin versions"

[2021-10-22 14:31] hft-team-city commented on #225
Released in [Chronicle-Bytes-2.22ea9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea9), [BOM-2.22ea48](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea48)

[2021-10-22 14:31] hft-team-city commented on #228
Released in [Chronicle-Bytes-2.22ea9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea9), [BOM-2.22ea48](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea48)

[2021-10-25 12:49] minborg opened #238 "Inconsistent naming of methods in Bytes"
False alarm

[2021-10-25 12:53] minborg commented on #238
My mistake. I was confused.

[2021-10-25 12:53] #238 closed, assigned to nobody

[2021-10-25 15:10] minborg opened #239 "MappedBytes does not respect the readOnly flag in its static constructor"
As can be seen below, a singleMappedBytes will always be read/write regardless of the provided `readOnly`.

[code]

[2021-10-25 16:28] minborg opened #241 "Replace Bytes static constructors"
The `Bytes` class has a large number (23) of static constructors. Apparently, these have been added as the library has evolved over time (which is inevitable).

As it stands now, it would be better to reduce the number of static constructors and provide one or several parameters instead. This would align naming and reduce the number of methods significantly. These parameterized methods can be move

[2021-10-25 16:49] minborg commented on #241
This could look something like this:

[code]

[2021-10-25 17:15] minborg commented on #241
This would reduce the number of static methods from 23 to 6 which is almost a factor of 4.

[code]

[2021-10-25 17:26] RobAustin commented on #241
Looks like a good improvement to me, but is this an API breaking change?

[2021-10-26 04:58] #230 closed, assigned to minborg

[2021-10-26 04:58] #235 closed, assigned to minborg

[2021-10-26 06:30] minborg commented on #241
We would have to mark the old static methods as `@Deprecated` and leave them lingering for some releases.

[2021-10-26 10:08] minborg opened #242 "Add a plugin that ensures copyright messages are present in all applicable source files"
Most source files are missing copyright notices.

Here is how a solution could look like:

[code]

[2021-10-27 21:27] #239 closed, assigned to minborg

[2021-10-28 04:51] JerryShea commented on #222
Hmmmm I just built and ran the test under Java 17 and it was fine

[2021-10-28 04:52] JerryShea commented on #226
@minborg this is something to consider as part of your work to improve the method contracts and tests

[2021-10-28 08:05] peter-lawrey opened #245 "Ensure the underlying capacity is large enough if the readLimit/WritePosition is moved"

[2021-10-28 08:09] #245 closed, assigned to peter-lawrey

[2021-10-28 20:39] hft-team-city commented on #239
Released in [Chronicle-Bytes-2.22ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea10), [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49)

[2021-10-28 20:39] hft-team-city commented on #230
Released in [Chronicle-Bytes-2.22ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea10), [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49)

[2021-10-28 20:39] hft-team-city commented on #245
Released in [Chronicle-Bytes-2.22ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea10), [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49)

[2021-10-28 20:39] hft-team-city commented on #235
Released in [Chronicle-Bytes-2.22ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea10), [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49)

[2021-10-29 08:57] peter-lawrey opened #247 "Added tests for large writes to MappedBytes which can go over the overlapping region size"

[2021-11-01 08:43] minborg opened #249 "Wrapping for read cannot be made on read-only ByteBuffers"
Should we be throwing a ReadOnlyBufferException when getting a read-only buffer? we're wrapping for reading ? as it seems counter-intuitive that we require a writable buffer for this method.

[2021-11-01 13:20] minborg opened #250 "Improve some annotations and remove some warnings"
The merge of a recent PR provides some improvements.

[2021-11-01 13:47] minborg opened #252 "Improve hashCode()/equals() consistency"
There are several places in which concrete and abstract classes override either `hashCode()` and `eqals()`. For example, `MappedBytesStore` and `PointerBytesStore` do not override `equals()` even though `hashCode()` is overridden via `AbstractBytesStore`

Generally, we should change the behaviour so that `hashCode()` and `equals()` inherit directly from Object. This will have the benefit that cust

[2021-11-01 14:36] minborg opened #253 "Improve handling of released resources for methods inherited from Object"
Some methods might create problems if applied to objects which have previously been released. This issue is about creating tests that assure compliance in this perspective.

[2021-11-01 18:24] minborg opened #254 "Document that Bytes.forFieldGroup uses the first byte to store the length, consuming a byte and limiting the length to 255 bytes"
Reproduce:

[code]

Create using Bytes.forFieldGroup and the `writeLimit()` is 127 and not 128 as expected. Also, is seams to be an offset error so when actually reading the last bytes, it is non-zero

[2021-11-01 18:44] minborg opened #255 "Improve testing of method invariants"

[2021-11-01 19:18] #255 closed, assigned to minborg

[2021-11-01 19:34] minborg opened #257 "Fix flaky test"
`BytesJavaDocComplianceTest::beforeEach` did not release `Bytes` created.

[2021-11-03 03:39] JerryShea commented on #252
This is a big change - we need to consider and possibly reach out to customers

[2021-11-03 22:52] JerryShea commented on #254
Hi @minborg while you are working in this area can I add another thing to the TODO list? EnbeddedBytes should be EmbeddedBytes

[2021-11-04 07:41] minborg opened #260 "Rename class EnbeddedBytes to EmbeddedBytes"

[2021-11-04 07:42] minborg commented on #254
Will do. See https://github.com/OpenHFT/Chronicle-Bytes/issues/260

[2021-11-05 08:18] minborg opened #263 "Add sonar profile to GitHub workflow"

[2021-11-05 08:30] minborg opened #265 "Document the new Bytes::equal/::hashCode behaviour"

[2021-11-05 10:01] minborg opened #266 "Improve handling of released resources for some less performance sensitive operations"

[2021-11-05 15:50] minborg opened #267 "UncheckedBytes.unchecked(false) does not return a checked Bytes"
[code]

[2021-11-05 15:55] minborg commented on #267
This is also the case for `UncheckedNativeBytes`

[2021-11-08 11:50] minborg opened #268 "Add a public method that compares the contents of two ByteStores so that Bytes.equals() can be replaced"
Now that Bytes.equals() might have another behaviour

[2021-11-08 11:58] minborg commented on #268
This can be made by exposing the `BytesInternal::contentEqual` method in the public API.

[2021-11-08 12:00] minborg commented on #268
All tests should use this method rather than `assertEquals(bytes0, bytes1)`

[2021-11-08 15:56] minborg opened #271 "Rename some generic variables to adhere to common standards"
Rename `Underlying` to `U`
Rename `ACS` to `T`

[2021-11-09 07:44] minborg opened #273 "Improve guarding of Bytes and other classes"
Would it be better if we had a pattern like

[code]

instead of `throwExceptionIfReleased`, that way we'd be protected against the thing being released while we're in the block as well?

It would also have the behaviour that if you were passed a released `Bytes` it would throw.

[2021-11-09 08:02] minborg opened #274 "Specify and test cursor operations on a closed resource"
What is `readPosition()` on a closed resource, for example?

[2021-11-09 12:28] minborg opened #275 "Change ReferenceOwner in AbstractBytes"

[2021-11-09 13:32] minborg opened #277 "Specify and test method parameter invariants for some primitive parameters"
Parameters such as `offset` and `length` should be specified as `@NonNegative` and tested accordingly.

Some values provide access outside memory confinements.

[2021-11-09 13:53] minborg opened #278 "Add thread usage tests for Bytes"
We should make sure thread safety checks captures all cases. `Bytes` is not thread-safe but is used by several threads in our libraries (at least one such case has been identified and fixed within the Bytes library itself. See https://github.com/OpenHFT/Chronicle-Bytes/issues/372).

One idea would be to add zero-cost assertions to all `Bytes` methods to make sure calls are only made from the same

[2021-11-09 14:39] minborg opened #279 "Only provide the old Bytes::equals/hashCode but check if the resource has been released"
throwing an Exception if released.

[2021-11-09 21:18] peter-lawrey opened #281 "Make RandomDataOutput.write(long writeOffset, @NotNull ByteBuffer bytes, int readOffset, int length) neutral to byte order"

[2021-11-09 21:22] #281 closed, assigned to peter-lawrey

[2021-11-11 04:47] #226 closed, assigned to minborg, JerryShea

[2021-11-11 17:58] #257 closed, assigned to minborg

[2021-11-11 17:58] #252 closed, assigned to minborg

[2021-11-11 17:58] #253 closed, assigned to minborg

[2021-11-11 17:58] #260 closed, assigned to minborg

[2021-11-11 17:58] #263 closed, assigned to minborg

[2021-11-11 17:58] #266 closed, assigned to minborg

[2021-11-11 17:58] #268 closed, assigned to minborg

[2021-11-11 17:58] #271 closed, assigned to minborg

[2021-11-11 17:58] #275 closed, assigned to minborg

[2021-11-11 17:58] #279 closed, assigned to minborg

[2021-11-11 22:00] hft-team-city commented on #226
Released in [Chronicle-Bytes-2.21.91](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21.91), [BOM-2.21.241](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.241)

[2021-11-14 18:26] hft-team-city commented on #257
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #266
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #252
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #253
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #226
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #281
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #275
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #279
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #271
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #263
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #268
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-14 18:26] hft-team-city commented on #260
Released in [Chronicle-Bytes-2.22ea12](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea12), [BOM-2.22ea57](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea57)

[2021-11-15 12:07] minborg opened #287 "Build process fails under Windows"
[code]

[2021-11-15 14:38] #267 closed, assigned to minborg

[2021-11-15 18:13] #265 closed, assigned to minborg

[2021-11-15 18:18] #250 closed, assigned to minborg

[2021-11-16 07:54] minborg opened #290 "Consistently introduce @NonNegative across the public API"

[2021-11-16 07:56] minborg opened #291 "Remove @NonNull for primitive arrays"
Instead, this should be explicitly asserted where appropriate and documented.

[2021-11-16 14:17] #287 closed, assigned to minborg

[2021-11-18 14:07] minborg opened #293 "Hoist out boundary checks for some composite operations"
Many operations that comprise several underlying memory operations perform unnecessary boundary checks on the leaf level. It is proposed that the boundary checks are hoisted out and performed once whereafter the leaf operations could be optimized.

One example is `BytesInternal::contentEquals`

[2021-11-18 14:26] minborg opened #294 "Vectorize ByteInternal::contentEquals and other methods"
It might be possible to leverage `ArraysSupport::vectorizedMismatch` to improve performance.

Today, 8 bytes (64 bits) are accessed and compared as a unit rather than individually, which increases the performance when the method is compiled by the JVM.

Using _vectorized methods_, on supported platforms, the above implementation is intrinsified to leverage SIMD instructions. So for a memory segmen

[2021-11-22 16:36] peter-lawrey opened #296 "Change the hash of an empty key to be Long.MIN_VALUE instead of 0."
This makes it easier to handle hash collections for empty keys

This value was chosen to minimise the impact as `(int) Long.MIN_VALUE == 0` and `Long.MIN_VALUE << 1 == 0`

[2021-11-23 07:48] minborg commented on #296
Will this change make Map and other existing hash-based algorithms fail for existing data?

[2021-11-23 08:29] minborg opened #297 "Add other methods with hoisted boundary checks"
For example `startsWith` and 'compareUtf8' in `BytesInternal`

[2021-11-23 09:19] minborg opened #298 "Remove issues flagged as bugs in SQ"
![image](https://user-images.githubusercontent.com/7457876/142998418-a3e75466-b0e1-40b9-ad5c-3b9a636b6528.png)

[2021-11-23 09:54] minborg opened #299 "Unrelated synchronization"
In the classes `SingleMappedFile` and `MappedFile` we synchronize on the `cannonicalPath` which is an internalized String making sure it remains unique for the JVM.

However, objects which are pooled and potentially reused should not be used for synchronization. If they are, it can cause unrelated threads to deadlock with unhelpful stacktraces. Specifically, String literals and boxed primitives su

[2021-11-23 09:55] minborg commented on #299
This is related to https://github.com/OpenHFT/Chronicle-Bytes/issues/298

[2021-11-23 13:07] alamar opened #300 "Bytes.copy, copyTo should take readPosition into account"
Right now, both will copy `readRemaining()` bytes, but will start from position 0 instead of `readPosition()`, which does not make sense:

[code]

[2021-11-23 14:42] minborg opened #304 "Add assertions to tests"

[2021-11-24 19:03] minborg opened #306 "Rewrite PropertyReplacer to avoid catastrophic backtracking"
See:

https://sonarcloud.io/project/security_hotspots?id=OpenHFT_Chronicle-Bytes#

[2021-11-25 10:07] minborg opened #307 "Fix broken javadocs"
[code]

[2021-11-25 10:08] minborg opened #308 "Provide more information in ReferenceCountedUtil::throwExceptionIfReleased"
Rather than throwing a `new ClosedIllegalStateException()`, we could invoke `releaseLast()` that
will provide much more tracing information.

[2021-11-25 12:55] peter-lawrey opened #310 "SingleMappedBytes.write(final long writeOffset, @NotNull final RandomDataInput bytes, long readOffset, final long length) should use the writeOffset not the writePosition"

[2021-11-25 12:59] #310 closed, assigned to peter-lawrey

[2021-11-25 13:19] #299 closed, assigned to minborg

[2021-11-25 13:19] #300 closed, assigned to alamar

[2021-11-25 13:19] #304 closed, assigned to minborg

[2021-11-25 13:19] #308 closed, assigned to minborg

[2021-12-02 12:54] hft-team-city commented on #300
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-02 12:54] hft-team-city commented on #299
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-02 12:54] hft-team-city commented on #267
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-02 12:54] hft-team-city commented on #287
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-02 12:54] hft-team-city commented on #308
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-02 12:54] hft-team-city commented on #304
Released in [Chronicle-Bytes-2.22ea13](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea13), [BOM-2.22ea69](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea69)

[2021-12-08 13:43] peter-lawrey opened #312 "Lower performance in unsafeWriteObject than unsafeReadObject"
Also check the bound before doing the copy.

[2021-12-08 13:49] #312 closed, assigned to peter-lawrey

[2021-12-08 14:37] #298 closed, assigned to minborg

[2021-12-08 14:51] peter-lawrey opened #313 "Add a helper method to get the start and length of trivially copyable data."

[2021-12-08 19:56] garikjan opened #361 "CAS operation fails in readMarshallable()"
Hi, please check this code example:
[code]

It fails with exception:

`
net.openhft.chronicle.core.util.MisAlignedAssertionError
	at net.openhft.chronicle.core.UnsafeMemory.compareAndSwapLong(UnsafeMemory.java:983)
	at net.openhft.chronicle.bytes.internal.NativeBytesStore.compareAndSwapLong(NativeBytesStore.java:342)
	at net.openhft.chronicle.bytes.MappedBytesStore.compareAndSwapLong(MappedBytesSt

[2021-12-08 20:08] JerryShea commented on #361
Hey @garikjan which version are you seeing this exception in - the latest snapshot?

[2021-12-08 20:11] garikjan commented on #361
Hi @JerryShea! Than you for quick response!  I was testing 5.22ea12 version.

[2021-12-08 20:53] garikjan commented on #361
Sorry, I was wrong. To be more precise, I am testing at commit 161dda49bed41df9bdc0e36a261ce2dadcd29611 of ea branch.

[2021-12-08 21:39] JerryShea commented on #222
@minborg can we close this as I could not reproduce

[2021-12-09 08:27] minborg commented on #222
[code]

[2021-12-10 15:36] minborg opened #316 "Remove issues flagged as Security Hotspots"
- [ ] `NativeBytes::ensureCapacity` invokes `Exception::printStackTrace`

- [ ] `ChunkedMappedFile` is using a shared tmp resource

[2021-12-10 16:06] minborg opened #318 "Remove sonarcube warnings"

[2021-12-10 22:37] JerryShea commented on #316
printStackTrace in this case is completely legit so we should disable the warning IMO

[2021-12-14 08:56] minborg opened #319 "Replace regexp preventing backtracing"

[2021-12-17 16:28] #316 closed, assigned to minborg

[2021-12-17 16:28] #319 closed, assigned to minborg

[2021-12-17 19:04] hft-team-city commented on #319
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea71](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea71)

[2021-12-17 19:04] hft-team-city commented on #312
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea71](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea71)

[2021-12-17 19:04] hft-team-city commented on #316
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea71](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea71)

[2021-12-17 19:04] hft-team-city commented on #310
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea71](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea71)

[2021-12-20 15:51] hft-team-city commented on #319
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea72)

[2021-12-20 15:51] hft-team-city commented on #312
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea72)

[2021-12-20 15:51] hft-team-city commented on #316
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea72)

[2021-12-20 15:51] hft-team-city commented on #310
Released in [Chronicle-Bytes-2.22ea14](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea14), [BOM-2.22ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea72)

[2021-12-22 15:27] alamar commented on #216
The test seem to be running OK from IDE now.

[2021-12-22 15:27] #216 closed, assigned to peter-lawrey

[2021-12-23 15:41] peter-lawrey commented on #211
This is a critical section of code and shouldn't be left @Ignored for so long.

[2021-12-23 15:43] RobAustin commented on #211
agreed - Per can you look at it as soon as you are back from the Christmas break.

[2021-12-23 15:44] RobAustin commented on #211
@peter-lawrey does your commit above fix this issue, can it now be closed?

[2021-12-23 16:02] peter-lawrey commented on #211
The problem is that the section of code runs 700x slower on Sonar than it does normally.
Note: The Rasberry PI is only 6x slower, so it should fail if it really is going that much slower.
I have fixed the issue by adding assumeTrue it's not running in sonar.

[2021-12-23 16:10] peter-lawrey commented on #211
Doesn't look like you can easily detect if it's running under Sonar. However, the test runs fine otherwise, and we can't be turning this test off. I will leave Sonar failing for now.

[2021-12-23 16:48] peter-lawrey commented on #211
This appears to be a problem in the old Sonar build. In the new Sonar build, these tests pass ok.

[2021-12-24 16:23] #306 closed, assigned to minborg

[2021-12-28 13:55] peter-lawrey commented on #296
Behaviour reverted.

[2021-12-28 13:55] #296 closed, assigned to peter-lawrey

[2021-12-28 13:57] peter-lawrey opened #322 "Added a DistributedUniqueTimeProvider to make it easier to have unique identifiers across a cluster"
This should allow up to 100 hostId's assigned timestamp-based ids concurrently.

[2022-01-05 14:11] glukos opened #324 "Implement subSequence(start, end) in Bytes"
[code]

[2022-01-06 18:52] RobAustin opened #326 "ValueStringArrayTest flaky test"
https://teamcity.chronicle.software/viewLog.html?buildId=642236&tab=buildResultsDiv&buildTypeId=OpenHFT_BuildAll_BuildJava8compileJava8

[code]

![image](https://user-images.githubusercontent.com/6506056/148435492-b1903aa1-57f9-4abf-bd4e-bee05be24195.png)

[2022-01-06 23:53] #324 closed, assigned to glukos

[2022-01-07 15:47] hft-team-city commented on #324
Released in [Chronicle-Bytes-2.22ea17](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22ea17), [BOM-2.22ea79](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea79)

[2022-01-13 11:25] alamar opened #329 "Add lenient checking to readByte()"
Right now, `readShort()` to `readDouble()` have lenient checking in `AbstractBytes`, but `readByte()` does not and will always return 0.

Let's make it aware of `lenient` setting. The rest of unchecked/unsigned byte methods which return -1 may remain the same.

[2022-01-18 16:48] alamar commented on #326
Fixed by 8925227cf2139ee0611209ad0f35971e80cb5139 in Queue

[2022-01-18 16:48] #326 closed, assigned to alamar

[2022-02-04 15:05] alamar commented on #329
Will do in 2.23

[2022-02-16 17:56] #322 closed, assigned to peter-lawrey

[2022-02-16 17:56] #313 closed, assigned to peter-lawrey

[2022-02-16 17:57] #247 closed, assigned to peter-lawrey

[2022-02-16 17:57] #211 closed, assigned to peter-lawrey, minborg

[2022-02-16 17:57] #208 closed, assigned to peter-lawrey

[2022-02-21 16:26] #329 closed, assigned to alamar

[2022-02-28 06:42] hft-team-city commented on #213
Released in [Chronicle-Bytes-2.21.94](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.21.94), [BOM-2.21.257](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.21.257)

[2022-03-03 12:06] peter-lawrey opened #336 "HexDumpBytes.zeroOut needs to assume the offsets are 32-bit"

[2022-03-03 12:23] #336 closed, assigned to peter-lawrey

[2022-03-08 14:48] peter-lawrey opened #337 "Improve efficiency of (de)marshalling byte[]"

[2022-03-08 16:07] #337 closed, assigned to peter-lawrey

[2022-03-09 09:24] hft-team-city commented on #336
Released in [Chronicle-Bytes-2.23ea0](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea0), [BOM-2.22.129](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.129)

[2022-03-09 09:24] hft-team-city commented on #337
Released in [Chronicle-Bytes-2.23ea0](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea0), [BOM-2.22.129](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.129)

[2022-03-09 09:24] hft-team-city commented on #329
Released in [Chronicle-Bytes-2.23ea0](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea0), [BOM-2.22.129](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.129)

[2022-03-09 10:58] peter-lawrey commented on #254
For a Bytes in an embedded object, the length must be stored in that object as well. The assumption is that the length is a u8 i.e. uses the first byte available so the limit is one byte less than the amount of space allocated.
When Bytes are normally serialzied the length is prepended to the contents, but this is not possible for trivially copyable data.

[2022-03-09 10:58] peter-lawrey commented on #254
@minborg Can you update any documentation you think would help to highlight this?

[2022-03-09 15:03] minborg commented on #254
See the description in the initial comment. Perhaps this is not an error but a lack of documentation?

[2022-03-10 10:41] peter-lawrey opened #339 "Binary*References to not blow up when using in a HexDumpBytes"

[2022-03-10 14:53] ctrychta opened #440 "null byte in JSON representation"
There seems to be some cases where JSONWire adds NULL byte(s) to the JSON representation. So far I have only seen this when setting` use8bit`  to true. Here is a minimal example that shows that behavior:

[code]

The output is below and contains a NULL byte before the closing "}":
[code]

This bit of code in ByteStringAppender looks suspicious:
[code]

`start` and `end` are being passed to `write`

[2022-03-17 14:03] #339 closed, assigned to peter-lawrey

[2022-03-17 14:21] peter-lawrey commented on #222
On `develop` it appears to be passing now.

[code]

[2022-03-17 14:21] #222 closed, assigned to peter-lawrey

[2022-03-21 05:20] nicktindall opened #342 "AbstractReference uses existing offset to trigger initialisation of newly assigned BytesStore"
When `AbstractReference#bytesStore(bytes, offset, length)` is called the reference calls `BytesStore#readInt` with its existing offset value. This is not guaranteed to be in the range for the new bytes.

This is the root cause of https://github.com/OpenHFT/Chronicle-Queue/issues/1025

[2022-03-21 15:09] #342 closed, assigned to nobody

[2022-03-21 19:05] hft-team-city commented on #342
Released in [Chronicle-Bytes-2.23ea3](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea3), [BOM-2.23ea13](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea13)

[2022-03-25 15:33] minborg commented on #187
I think we covered enough in the efforts above. Let's review the rest later.

[2022-03-25 15:33] #187 closed, assigned to peter-lawrey, minborg

[2022-03-25 15:48] #307 closed, assigned to minborg

[2022-03-25 15:48] #291 closed, assigned to minborg

[2022-03-28 08:21] minborg commented on #203
Any news on this?

[2022-03-28 08:23] minborg commented on #152
Are we going to do this?

[2022-03-28 08:24] minborg commented on #149
Any progress on this?

[2022-03-28 08:34] minborg opened #348 "Replace the use of finalize() with something else"
`finalize()` is deprecated and so we should refrain from using it.

[2022-03-28 09:14] minborg commented on #297
We need better support to do this. Suggest closing this issue and revisit on a larger update of the lib

[2022-03-28 10:07] #318 closed, assigned to minborg

[2022-03-28 13:34] #274 closed, assigned to minborg

[2022-03-28 14:19] minborg opened #351 "Specify warmup dir for ChunkedMappedFile::warmup"
It is a security issue to place a file in tmp.

[2022-03-28 14:25] #293 closed, assigned to minborg

[2022-03-28 14:47] minborg commented on #297
We could use `HasUncheckedRandomDataInput`

[2022-03-29 14:09] minborg commented on #351
We will leave it as it is as the old solution was safe.

[2022-03-29 14:09] #351 closed, assigned to minborg

[2022-03-30 08:26] #290 closed, assigned to minborg

[2022-04-06 05:30] hft-team-city commented on #342
Released in [Chronicle-Bytes-2.22.22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22.22), [BOM-2.22.133](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.133)

[2022-04-07 00:50] JerryShea commented on #361
@garikjan that is an old version - can you try on latest?

[2022-04-07 07:19] garikjan commented on #361
@JerryShea I just tested with 5.22.18, but the test still fails:

`5277 [main] INFO  net.openhft.chronicle.core.internal.announcer.InternalAnnouncer  - Process id: 7850 :: Chronicle Queue (5.22.18)
5334 [main] INFO  net.openhft.chronicle.threads.DiskSpaceMonitor  - Took 7.454 ms to pollDiskSpace for /Volumes/Data/Users/garik/Projects/wcs/run/wcs/server/HCB/tmp/111

net.openhft.chronicle.core.util.

[2022-04-07 07:21] JerryShea commented on #361
Can you try with the latest 2.23ea version pls?

On Thu, 7 Apr 2022 at 08:20, Garik ***@***.***> wrote:

[2022-04-07 07:23] garikjan commented on #361
I tried, but there is unresolved runtime dependency:
java.lang.NoClassDefFoundError: net/openhft/chronicle/core/io/ManagedCloseable

[2022-04-07 07:26] JerryShea commented on #361
You must be bringing in the wrong version of e.g. chronicle-core

[2022-04-07 07:29] garikjan commented on #361
Yes, exactly, that was the problem. I had to update Chronicle Map also. But the test still fails:

0    [main] INFO  net.openhft.chronicle.core.Jvm  - Chronicle core loaded from file:/Volumes/Data/Users/garik/.gradle/caches/modules-2/files-2.1/net.openhft/chronicle-core/2.23ea4/6c6325870d365a1bb25a7356f6009130dd8aa496/chronicle-core-2.23ea4.jar
5120 [main] INFO  net.openhft.chronicle.bytes.interna

[2022-04-07 12:03] peter-lawrey commented on #149
Needs https://github.com/OpenHFT/Chronicle-Threads/issues/71

[2022-04-12 07:50] peter-lawrey commented on #348
Whatever it is replaced with should also be low overhead

[2022-04-12 07:51] peter-lawrey opened #358 "Make Bytes, BytesIn and ByteOut generic to fix raw type warning"
Some projects now fail when warning about raw types are produced by the compiler.

[2022-04-15 19:41] hft-team-city commented on #307
Released in [Chronicle-Bytes-2.23ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea5), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-15 19:41] hft-team-city commented on #318
Released in [Chronicle-Bytes-2.23ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea5), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-15 19:41] hft-team-city commented on #291
Released in [Chronicle-Bytes-2.23ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea5), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-15 19:41] hft-team-city commented on #274
Released in [Chronicle-Bytes-2.23ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea5), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-15 19:41] hft-team-city commented on #290
Released in [Chronicle-Bytes-2.23ea5](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea5), [BOM-2.23ea27](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea27)

[2022-04-19 04:20] #358 closed, assigned to peter-lawrey

[2022-04-19 10:45] RobAustin commented on #440
@jkolobok can you take  look at this, and close it if its not an issue

[2022-04-29 11:30] #297 closed, assigned to minborg

[2022-05-03 19:55] hft-team-city commented on #297
Released in [Chronicle-Bytes-2.23ea6](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea6), [BOM-2.23ea37](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea37)

[2022-05-04 01:43] vach-chronicle commented on #361
Hi Garik,
there are a few things going on in your example. Generally, it's a bad idea to mutate state with a tailer, as of chronicle v5 we explicitly advise against that, tailers are for reading only.

However, the problem here is that you are using low level API, to work with the data.
In order for the queue to have a great performance, we need to make sure that the data as its being written is a

[2022-05-04 15:34] garikjan commented on #361
High Vachagan! Thank you very much for pointing out those issues in my example. I will rewrite tailers and appenders to use Wire instead of Bytes to avoid alignment issues.

And unfortunately I missed changes to tailers in Chronicle Queue V5. So, tailer cannot update data anymore...  I'm using CAS operation to mark messages as read, processed currently. How can I mark a message in queue as "proces

[2022-05-04 16:55] vach-chronicle commented on #361
If you do what you are doing with chronicle wire it should solve the problem, because it will always make sure alignment is correct.
Using tailer for that case should work, we just generally advise against it, your use case seems legitimate to me.
Try it and if you have any issue do let us know.

[2022-05-04 17:05] garikjan commented on #361
Ok, I see. Will try soon, thank you!

[2022-05-06 13:57] #140 closed

[2022-05-11 12:12] RobAustin opened #363 "Fixed thread safety issue with StringInternerBytes"
Relates to support ticket number 651

[2022-05-12 10:25] #363 closed, assigned to RobAustin

[2022-05-12 10:44] hft-team-city commented on #363
Released in [Chronicle-Bytes-2.23ea7](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea7), [BOM-2.23ea44](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea44)

[2022-05-20 09:16] minborg opened #368 "Document MappedBytes"
`MappedBytes`avoids bloating the virtual memory usage by releasing the chunks that are not used, retaining only the most recently used one. This should be documented.

[2022-05-20 14:14] KenCoder opened #370 "StreamingDataInput.readWithLength doesn't work for length > 7"
I'm new to Chronicle, but I think this line should have `(length - 7)/8` as the limit, otherwise the method reads more bytes than are written by writeWithLength.

https://github.com/OpenHFT/Chronicle-Bytes/blob/8c6a74a41937cffcc1007ba797c474d0d17b11c5/src/main/java/net/openhft/chronicle/bytes/StreamingDataInput.java#L550

[2022-05-20 14:37] peter-lawrey commented on #370
You are right that this is wrong.

[2022-05-20 14:48] #370 closed, assigned to peter-lawrey

[2022-05-20 14:48] peter-lawrey commented on #370
Thank you for reporting this

[2022-05-20 14:49] #368 closed, assigned to peter-lawrey

[2022-05-20 14:50] peter-lawrey commented on #361
Can we close this?

[2022-05-20 14:51] #361 closed, assigned to vach-chronicle

[2022-05-20 14:54] #254 closed, assigned to minborg

[2022-05-20 14:58] peter-lawrey commented on #249
Can you clarify what you mean?

[2022-05-23 07:27] minborg commented on #249
[code]
This will produce:

[code]

But the intention was to obtain a `Bytes` that is backed by a `ByteBuffer` only for reading.

[2022-05-24 12:27] hft-team-city commented on #368
Released in [Chronicle-Bytes-2.23ea9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea9), [BOM-2.23ea61](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea61)

[2022-05-24 12:27] hft-team-city commented on #254
Released in [Chronicle-Bytes-2.23ea9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea9), [BOM-2.23ea61](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea61)

[2022-05-24 12:27] hft-team-city commented on #370
Released in [Chronicle-Bytes-2.23ea9](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea9), [BOM-2.23ea61](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea61)

[2022-05-26 13:16] RobAustin commented on #278
we have this check

[code]

we should improve the coverage of the checks done by this.

[2022-05-26 13:17] #277 closed, assigned to minborg

[2022-05-26 13:18] RobAustin commented on #242
@j4sm1ne96 please ask @minborg for help on how to do this.

[2022-05-26 13:19] #241 closed, assigned to nobody

[2022-05-30 07:31] minborg opened #372 "Several threads in MappedUniqueTimeProvider is using the same Bytes"
There is just one instance of the `MappedUniqueTimeProvider` but that instance is using a single instance of a `Bytes` even though the singleton MUTP is supposed to be used by several threads.

[2022-05-30 13:36] minborg opened #374 "Improve NoBytesStore"
There are some problems with this class:

- [ ] `NoBytesStore` should be immutable but shares a mutable state via `addressForRead()`, `addressForWrite()` and `addressForWritePosition()`
- [ ] It is using raw types
- [ ] `copy()` does not return a copy and copy is not fully specified
- [ ] `bytesForRead()` returns a new `Bytes` object whereas `bytesForWrite()` does not
- [ ] it is not tested
- [ ]

[2022-05-31 08:25] #372 closed, assigned to nobody

[2022-05-31 12:59] j4sm1ne96 opened #377 "create table with system properties in Chronicle-Bytes"

[2022-05-31 16:10] j4sm1ne96 commented on #377
@minborg I have added in the system properties. Forough recommended talking to you about the 'description' section of the system properties for this repository

[2022-05-31 16:43] foroughgoudarzi opened #379 "update figure 1 in ReadMe"

[2022-06-01 08:50] #379 closed, assigned to j4sm1ne96

[2022-06-01 11:10] #242 closed, assigned to j4sm1ne96

[2022-06-02 10:20] minborg opened #382 "Improve handling of deprecated RDI methods"
Some depending libraries and presumably user code will flag for deprecated methods. Improve this and remove the source of warnings.

[2022-06-02 11:45] minborg opened #384 "Bytes: Writing an array of length zero does not create new ByteStore"
There is a shared singleton for empty ByteStores. However, there are cases where a real, unshared, ByteStore is assumed to exist. Therefore, even writing an array of length zero should trigger a replacement of the shared singleton.

[2022-06-03 10:48] #374 closed, assigned to minborg

[2022-06-03 10:48] #382 closed, assigned to minborg

[2022-06-03 10:48] #384 closed, assigned to minborg

[2022-06-06 19:19] hft-team-city commented on #384
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #382
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #374
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #379
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #372
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-06 19:19] hft-team-city commented on #242
Released in [Chronicle-Bytes-2.23ea10](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea10), [BOM-2.23ea68](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea68)

[2022-06-12 22:24] JerryShea opened #389 "SingletonEmptyByteStoreTest.equalsTest failing"
See Java 11, 17 etc. builds - https://teamcity.chronicle.software/project/Chronicle_ChronicleBytes?branch=%3Cdefault%3E&buildTypeTab=overview&mode=builds

The failing test is related to the vectorisation + NoBytesChange?

[2022-06-14 22:01] JerryShea commented on #389
Fixed by https://github.com/OpenHFT/Chronicle-Bytes/pull/390

[2022-06-16 07:34] #377 closed, assigned to j4sm1ne96

[2022-06-16 08:51] JerryShea opened #391 "Performance optimisation writing to mapped file"
As `realWriteRemaining` default implementation lead to an expensive system call

[2022-06-17 05:19] #391 closed, assigned to JerryShea

[2022-06-17 18:26] hft-team-city commented on #391
Released in [Chronicle-Bytes-2.23ea20](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea20), [BOM-2.23ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea72)

[2022-06-17 18:27] hft-team-city commented on #205
Released in [Chronicle-Bytes-2.23ea20](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea20), [BOM-2.23ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea72)

[2022-06-17 18:27] hft-team-city commented on #377
Released in [Chronicle-Bytes-2.23ea20](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea20), [BOM-2.23ea72](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea72)

[2022-06-18 00:51] JerryShea commented on #389
Fixed

[2022-06-18 00:51] #389 closed, assigned to RobAustin, minborg

[2022-06-24 16:11] peter-lawrey opened #397 "Fix the optimization of zeroOut"
This method was creating garbage

[2022-06-24 16:19] peter-lawrey opened #398 "Optimise ensureCapacity"

[2022-06-29 08:19] peter-lawrey opened #401 "Improve how whitespace is combined in YamlWire"

[2022-06-30 07:36] #398 closed, assigned to peter-lawrey

[2022-06-30 07:36] #397 closed, assigned to peter-lawrey

[2022-06-30 07:38] #278 closed, assigned to peter-lawrey

[2022-06-30 07:39] #401 closed, assigned to peter-lawrey

[2022-06-30 14:04] hft-team-city commented on #398
Released in [Chronicle-Bytes-2.23ea22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea22), [BOM-2.23ea80](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea80)

[2022-06-30 14:04] hft-team-city commented on #401
Released in [Chronicle-Bytes-2.23ea22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea22), [BOM-2.23ea80](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea80)

[2022-06-30 14:04] hft-team-city commented on #397
Released in [Chronicle-Bytes-2.23ea22](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea22), [BOM-2.23ea80](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea80)

[2022-07-08 20:06] JohannesLichtenberger opened #403 "Compress/Decompress a Bytes<ByteBuffer>"
How do I compress/decompress a `Bytes<ByteBuffer>` instance? For instance I'd like to use Snappy :-)

[2022-07-08 22:21] JohannesLichtenberger commented on #403
The tricky thing might be, that I want to append the data afterwards to an append-only file prefixed with the length of the data to store. Thus, first of all I'm serializing all kinds of data records, then I want to compress the database page fragment and maybe encrypt in the future and afterwards I'm syncing the bytes to the file.

Currently the old implementation using `ByteArrayOutputStream`s i

[2022-07-18 16:11] peter-lawrey opened #405 "Drop references to chronicle-enterprise-snapshots and chronicle-enterprise-release in pom.xml"

[2022-07-18 16:30] peter-lawrey commented on #405
Do any open source libraries need a reference to enterprise releases or snapshots?

[2022-07-19 12:47] alamar commented on #405
Only if they happen to use any optional enteprise dependencies or plugins.

[2022-07-20 08:52] peter-lawrey opened #406 "Simplify Bytes.empty() and BytesStore.empty();"

[2022-07-22 11:53] JohannesLichtenberger opened #408 "Writing to and reading from a FileChannel"
Hi,

currently I have a `Bytes<ByteBuffer>` instance, for which I have to append the internal ByteBuffer to a file. Somehow, getUnderlyingObject() and simply writing the object doesn't work. Let's say I' writing something:

[code]

then write to a FileChannel via:

[code]

and afterwards read from the file channel via ByteBuffer.readInt(...) at offset 0, I'm getting not the page length, but a high

[2022-07-28 13:49] #408 closed, assigned to nobody

[2022-07-29 22:52] alamar opened #410 "Bytes.wrapForWrite(ByteBuffer).write() corrupts heap"
I am attaching a test case based on Network SSL test I was looking into.

I suspect this is due to

            BytesStore<?, ByteBuffer> bs = BytesStore.wrap(byteBuffer);
            try {
                Bytes<ByteBuffer> bbb = bs.bytesForWrite();
                bbb.writePosition(byteBuffer.position());
                bbb.writeLimit(byteBuffer.limit());
                return bbb;

[2022-07-29 22:56] alamar commented on #410
#411

[2022-08-02 07:01] JerryShea opened #412 "MappedBytesStore.inside() off by one error"
This undoes the `<=` change from https://github.com/OpenHFT/Chronicle-Bytes/pull/243, beefs up testing and fixes some other off-by-ones

[2022-08-02 11:37] maxmorozov opened #414 "Bytes.copyTo method writes extra bytes to the output stream"
The method AbstractBytes.read (https://github.com/OpenHFT/Chronicle-Bytes/blob/ea/src/main/java/net/openhft/chronicle/bytes/AbstractBytes.java#L1130) has introduced an issue with copying into OutputStream.
Instead of copying only the actual content of the buffer it copies the whole buffer.

The test case:
[code]

Expected array length is 11, but actual length is 256.

Possible solution:
[code]

[2022-08-03 03:33] JerryShea commented on #414
Great catch @maxmorozov

I agree that AbstractBytes.read should set the len as that is consistent with other impls of that method.

Please take a look at https://github.com/OpenHFT/Chronicle-Bytes/pull/416

[2022-08-03 07:43] #414 closed, assigned to nobody

[2022-08-03 14:30] peter-lawrey opened #417 "When Queue has to write to the previous chunk but the end of what it needs to write is in the next chunk, it picks the wrong chunk"

[2022-08-04 07:46] peter-lawrey commented on #417
@JerryShea In hindsight this should have been a PR as more than I thought.

[2022-08-04 09:07] peter-lawrey commented on #417
Needs a new issue and branch

[2022-08-04 09:07] #417 closed, assigned to peter-lawrey

[2022-08-04 09:44] #412 closed, assigned to JerryShea

[2022-08-05 19:15] glukos opened #422 "Embedded bytes can't be cleared after TriviallyCopyable unmarshalling"
The bug is that `AbstractBytes#writePosition` used as field somewhere, while it's overridden in `EmbeddedBytes`:
[code]
So we end up using wrong `writePosition` in some cases.
Test:
[code]
Currently, `clear()` does nothing - because of this fast path check:
[code]

[2022-08-08 03:17] hft-team-city commented on #414
Released in [Chronicle-Bytes-2.22.25](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22.25), [BOM-2.22.151](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.151)

[2022-08-08 11:46] #422 closed, assigned to glukos

[2022-08-08 17:48] hft-team-city commented on #422
Released in [Chronicle-Bytes-2.23ea25](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea25), [BOM-2.23ea104](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea104)

[2022-08-08 17:48] hft-team-city commented on #414
Released in [Chronicle-Bytes-2.23ea25](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea25), [BOM-2.23ea104](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea104)

[2022-08-09 10:47] #410 closed, assigned to alamar

[2022-08-10 14:51] alamar opened #425 "Consider resetting thread usage when bytes object is cleaned"
The following snippet is prevalent across our code:
[code]

It will cause single thread checker warningd

On the other hand, binding bytes to thread is likely a heavy (and garbage-producing) operation, so it's possible that code which uses and cleans a small Bytes instance in a loop will become prohibitively slow if we simple `clearUsedByThread()` on every

[2022-08-11 05:49] #294 closed, assigned to RobAustin

[2022-08-24 19:12] alamar opened #426 "Bytes.read(byte[]) fails if Bytes constructed with a BytesStore that is a Bytes"
At `net.openhft.chronicle.bytes.RandomDataInput#read`, commit #414 has introduced a change which triggers the following exception:

[code]

In this case,

[code]

[2022-08-25 02:39] JerryShea commented on #426
What made this happen was some code in a demo that constructed a `Bytes` with a `BytesStore` that is a `Bytes` e.g. `new OnHeapBytes(Bytes.allocateElasticOnHeap(capacity), true)`.

See #427 for some tests that fail if you do this.

Previously in `net.openhft.chronicle.bytes.RandomDataInput#read` there was a cast to `int` which gave a -ve number and the actual read would silently fail. Now we use `

[2022-08-26 00:25] JohannesLichtenberger opened #429 "Wrapping Foreign Memory API"
Would it make sense to wrap the Foreign Memory API for off-heap storage?

[2022-08-26 03:40] JerryShea commented on #426
Closed by https://github.com/OpenHFT/Chronicle-Bytes/pull/428

[2022-08-26 03:40] #426 closed, assigned to nobody

[2022-08-29 16:31] maxmorozov opened #430 "Buffer underflow exception on read8bit call"
We have found an issue when use write8bit/read8bit.
The minimal test case is:
[code]
Excepon trace:
[code]
The issue was caused by a recently added check in AbstractBytes.addressForRead
[code]
It calculates some adding value that is 64 in this case (because the capacity is Long.MAX_VALUE) and checks it against writeLimit that is 37.
It is not clear why this check is needed, but it leads to the iss

[2022-08-29 21:16] JerryShea commented on #429
There certainly have been discussions about it, and the answer is "quite possibly, but not yet". We support Javas 8, 11 & 17 ATM so it would be some effort to support two different implementations at present

[2022-08-29 21:16] #429 closed, assigned to nobody

[2022-08-31 11:47] hft-team-city commented on #410
Released in [Chronicle-Bytes-2.23ea26](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea26), [BOM-2.23ea112](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea112)

[2022-08-31 15:59] peter-lawrey opened #431 "AbstractBytes.start() shows up as a performance issue even when it is actually 0L"
However, for some use cases, it is not.

[2022-08-31 16:52] vach-chronicle opened #432 "PointerBytesStore bounds check failing when attempting to read from direct bytes"

[2022-09-01 14:08] #432 closed, assigned to nobody

[2022-09-05 12:57] alamar opened #434 "MappedBytes has capacity >2G leading to ArithmeticException in NativeBytes methods"
see #426

[code]

NativeBytesStore is really a MappedBytesStore

The mapped file is 5G sized so the limit of 5368708935 is probably correct. Looks like MappedBytes has to override read() or expose safeLimit to it.

[2022-09-06 05:52] #434 closed, assigned to alamar, JerryShea

[2022-09-07 06:31] hft-team-city commented on #434
Released in [Chronicle-Bytes-2.23ea28](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea28), [BOM-2.23ea116](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea116)

[2022-09-07 18:38] maxmorozov commented on #430
The issue was fixed in 2.23ea28

[2022-09-07 18:39] #430 closed, assigned to nobody

[2022-09-08 13:24] alamar opened #438 "Exponent is ignored when it is explicitly positive"
[code]

[2022-09-12 10:34] RobAustin commented on #405
closing as this was done

[2022-09-12 10:34] #405 closed, assigned to RobAustin

[2022-09-12 10:35] RobAustin commented on #348
@peter-lawrey closing, please reopen if you feel this is worth doing ( this year )

[2022-09-12 10:35] #348 closed, assigned to peter-lawrey

[2022-09-12 10:41] RobAustin commented on #403
Thank you for your issue - however, this question is consultancy rather than an issue with chronicle-bytes. If you wish us to provide you with consultancy, please contact sales@chronicle.software and we would be more than happy to assist.

[2022-09-12 10:41] #403 closed, assigned to nobody

[2022-09-12 11:10] RobAustin commented on #249
its this code in the JDK that is throwing the exception, see java.nio.ByteBuffer#array

[code]

there is not much we can do about this, so closing as wont fix.

[2022-09-12 11:10] #249 closed, assigned to nobody

[2022-09-12 11:16] RobAustin commented on #152
Sorry for the delay in responding, We can provide consultancy to help you with this, if it is still required please contact sales@chronicle.software, but In summary, we have automated field pooling of one object per type but beyond that, we will have to look at your individual requirements.

[2022-09-12 11:16] #152 closed

[2022-09-12 11:20] RobAustin commented on #406
closing as it looks this was done

[2022-09-12 11:20] #406 closed, assigned to peter-lawrey

[2022-09-12 11:21] RobAustin commented on #425
@peter-lawrey do you have a veiw on this issue ?

[2022-09-12 11:22] RobAustin commented on #431
closing as it look like this issue was resolved

[2022-09-12 11:22] #431 closed, assigned to peter-lawrey

[2022-09-12 11:34] #438 closed, assigned to alamar

[2022-09-12 17:35] #440 closed, assigned to alamar

[2022-09-12 20:36] alamar commented on #249
We could probably have a wrap() function which won't use array() inside. Somewhere in the distant future.

[2022-09-15 10:05] hft-team-city commented on #434
Released in [Chronicle-Bytes-2.22.26](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.22.26), [BOM-2.22.158](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22.158)

[2022-09-20 19:00] hft-team-city commented on #438
Released in [Chronicle-Bytes-2.23ea29](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea29), [BOM-2.23ea121](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea121)

[2022-09-20 19:00] hft-team-city commented on #440
Released in [Chronicle-Bytes-2.23ea29](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23ea29), [BOM-2.23ea121](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea121)

[2022-09-22 13:23] RobAustin opened #443 "The CanonicalPath should not be unique when run with different classLoaders in the same JVM"
When running in different classloaders,  the following issue was found

![image](https://user-images.githubusercontent.com/6506056/191758556-b3c9de20-1b54-4837-87a7-34098e8b2292.png)

[2022-09-26 07:56] #443 closed, assigned to RobAustin

[2022-09-28 18:38] pcoppinger opened #450 "UnsafeRWObjectTest fails on Mac OSX with Intel processor"
Received the following error with build from version 2.24ea0-SNAPSHOT:

[ERROR] Tests run: 4, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.302 s <<< FAILURE! - in net.openhft.chronicle.bytes.UnsafeRWObjectTest
[ERROR] net.openhft.chronicle.bytes.UnsafeRWObjectTest.longObject  Time elapsed: 0.078 s  <<< FAILURE!
org.junit.ComparisonFailure:
expected:<00000000 0[1 00 00 00 00 00 00 00  02 00

[2022-09-28 18:41] pcoppinger opened #451 "NativeBytesStoreTest fails on Mac OS X with Intel processor"
Received the following error with version 2.24ea0-SNAPSHOT:

[ERROR] Tests run: 9, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 3.321 s <<< FAILURE! - in net.openhft.chronicle.bytes.NativeBytesStoreTest
[ERROR] net.openhft.chronicle.bytes.NativeBytesStoreTest.testElasticByteBuffer  Time elapsed: 0.077 s  <<< FAILURE!
java.lang.AssertionError: expected:<32768> but was:<28672>
	at net.openhft.c

[2022-09-29 11:56] hft-team-city commented on #443
Released in [Chronicle-Bytes-2.23.31](https://github.com/OpenHFT/Chronicle-Bytes/releases/chronicle-bytes-2.23.31), [BOM-2.23.126](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23.126)